<div style="background:url(assets/images/green-pages-pattern-copy.png) top center repeat-x !important;">
   <!-- <img class="eco-green-bottom-icon" src="assets/images/tree.png" /> -->
   <div id="left-menu">
      <div id="left-menu-content" style="background:url(assets/images/left-menu-expand.png) top center repeat-x !important;">
         <a href="#eco-green1">
            <img id="left-eco-icon" src="assets/images/logo.png" />
         </a>
         <div class="left-menu-wrap">
            <div class="lightBackgroundColor">
               <a href="#eco-green1">
                  <div id="eco-greenMenu" class="left-menu-str">TRANG CHỦ</div>
               </a>
            </div>
            <div>
               <a href="#gioi-thieu">
                  <div id="gioi-thieuMenu" class="left-menu-str">GIỚI THIỆU</div>
               </a>
            </div>
            <div>
               <a href="#vi-tri1">
                  <div id="vi-triMenu" class="left-menu-str">VỊ TRÍ</div>
               </a>
            </div>
            <div>
               <a href="#tien-ich1">
                  <div id="tien-ichMenu" class="left-menu-str">TIỆN ÍCH</div>
               </a>
            </div>
            <div>
               <a href="#tong-the">
                  <div id="tong-theMenu" class="left-menu-str">MẶT BẰNG TỔNG THỂ</div>
               </a>
            </div>
            <div>
               <a href="#can-ho-mau">
                  <div id="can-ho-mauMenu" class="left-menu-str">CĂN HỘ MẪU</div>
               </a>
            </div>
            <div>
               <a href="#thanh-toan">
                  <div id="thanh-toanMenu" class="left-menu-str">THANH TOÁN</div>
               </a>
            </div>
            <div>
               <a href="#chu-dau-tu">
                  <div id="chu-dau-tuMenu" class="left-menu-str">PHÁT TRIỂN DỰ ÁN</div>
               </a>
            </div>
            <div>
               <a href="/tien-do/Hinh-anh-thi-cong-den-ngay-30-08-2018.html">
                  <div id="tien-doMenu" class="left-menu-str">TIẾN ĐỘ</div>
               </a>
            </div>
            <div>
               <a href="/category/vat-lieu-hoan-thien.html">
                  <div id="vat-lieuMenu" class="left-menu-str">VẬT LIỆU HOÀN THIỆN</div>
               </a>
            </div>
            <div>
               <a href="#lien-he">
                  <div id="lien-heMenu" class="left-menu-str">LIÊN HỆ</div>
               </a>
            </div>
         </div>
         <div id="wrap-hotline">
            <span>HOTLINE</span>
            <span class="lightColor">0903707175</span>
         </div>
      </div>
      <div id="left-menu-icon" class="lightBackgroundColor">
         <div>
            <div id="menu-str">Menu</div>
            <img src="assets/images/menu.png" />
         </div>
      </div>
   </div>
   <div id="right-menu-background" class="backgroundColor"></div>
   <div id="right-menu">
      <div id="right-menu-list">
         <a href="#eco-green1">
            <div id="eco-greenIcon" class="section-border-icon">
               <div class="section-icon lightBackgroundColor">
                  <img class="ECO" src="assets/images/icon-1.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Eco Green Sài Gòn</span>
            </div>
         </a>
         <a href="#gioi-thieu">
            <div id="gioi-thieuIcon" class="section-border-icon">
               <div class="section-icon lightBackgroundColor">
                  <img class="right-menu-icon" src="assets/images/icon-2.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Giới thiệu</span>
            </div>
         </a>
         <a href="#vi-tri1">
            <div id="vi-triIcon" class="section-border-icon">
               <div class="section-icon lightBackgroundColor">
                  <img class="right-menu-icon" src="assets/images/icon-3.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Vị trí</span>
            </div>
         </a>
         <a href="#tien-ich1">
            <div id="tien-ichIcon" class="section-border-icon">
               <div class="section-icon lightBackgroundColor">
                  <img class="right-menu-icon" src="assets/images/icon-4.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Tiện ích</span>
            </div>
         </a>
         <a href="#tong-the">
            <div id="tong-theIcon" class="section-border-icon">
               <div class="section-icon lightBackgroundColor">
                  <img class="right-menu-icon" src="assets/images/new-icon-5.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Mặt bằng tổng thể</span>
            </div>
         </a>
         <a href="#can-ho-mau">
            <div id="can-ho-mauIcon" class="section-border-icon">
               <div class="section-icon lightBackgroundColor">
                  <img class="right-menu-icon" src="assets/images/icon-5.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Căn hộ mẫu</span>
            </div>
         </a>
         <a href="#thanh-toan">
            <div id="thanh-toanIcon" class="section-border-icon">
               <div class="section-icon lightBackgroundColor">
                  <img class="right-menu-icon" src="assets/images/new-icon-7.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Phương thức thanh toán</span>
            </div>
         </a>
         <a href="#chu-dau-tu">
            <div id="chu-dau-tuIcon" class="section-border-icon">
               <div class="section-icon lightBackgroundColor">
                  <img class="right-menu-icon" src="assets/images/icon-6.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Phát triển dự án</span>
            </div>
         </a>
         <a href="#lien-he">
            <div class="section-border-icon" id="lien-heIcon">
               <div class="section-icon lightBackgroundColor">
                  <img class="right-menu-icon" src="assets/images/icon-7.png" />
               </div>
               <span class="tooltiptext lightBackgroundColor">Liên hệ</span>
            </div>
         </a>
      </div>
   </div>
   <div id="fullpage">
      <!-- Section video -->
      <div class="section" id="section0" style="padding: 0 !important;">
         <div style="position: relative; width: 100%; height: 100%;">
            <div style="position: absolute; right: 80px; top: 20px; cursor: pointer;" onclick="controlSound()">
               <img id="mute" width="32" height="32" src="assets/images/mute.png">
               <img id="unmute" width="32" height="32" src="assets/images/unmute.png">
            </div>
         </div>
         <video muted autoplay loop id="video" onclick="check_video(this)">
            <source src="assets/video/video_Eco_Green.mp4" type="video/mp4">
         </video>
         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <!-- <a href="#eco-green1"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a> -->
            <a href="#eco-green2"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>

      <!-- Section 1 -->
      <div class="section" id="section1" style="background:url(assets/images/home-1-2.png) center top/cover repeat-x !important;">
         <div id="home-1-2-wrap">
            <div class="home-title">SỐNG XANH MỖI NGÀY !</div>
            <div class="seperate-block"></div>
            <div class="text-content">
               Từ đỉnh cao của sự phát triển, con người lại có xu hướng tìm về với thiên nhiên và những giá trị tự nhiên thuần khiết nhất. Lối sống sinh thái (Organic) mang cho con người một cuộc sống cân bằng, gần gũi với thiên nhiên và hướng đến những điều bình dị nhất:
               <ul>
                  <li>Để cảm nhận những âm thanh trong trẻo của cuộc sống.</li>
                  <li>Sống khỏe trong không gian nghỉ dưỡng.</li>
                  <li>Tận hưởng hạnh phúc đích thực bên gia đình.</li>
               </ul>
            </div>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <a href="#eco-green1"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#gioi-thieu"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>

      <!-- Section 2 -->
      <div class="section" id="section2" style="background:url(assets/images/home-2-1.jpg) center top/cover repeat-x !important;">
         <div id="home-2-1-wrap">
            <div class="home-title">GIỚI THIỆU</div>
            <div class="seperate-block"></div>
            <table>
               <tr>
                  <td>Tên dự án</td>
                  <td>Eco Green Sài Gòn</td>
               </tr>
               <tr>
                  <td>Vị trí</td>
                  <td>Mặt tiền Nguyễn Văn Linh, P.Tân Thuận, Quận 7, Tp.HCM</td>
               </tr>
               <tr>
                  <td>Chủ đầu tư</td>
                  <td>Công ty CP Đầu Tư & XD Xuân Mai Sài Gòn (Xuân Mai Sài Gòn)</td>
               </tr>
               <tr>
                  <td>Tổng diện tích</td>
                  <td>14,36 ha</td>
               </tr>
               <tr>
                  <td>Mật độ xây dựng</td>
                  <td>30% còn 70% là Công Viên 3.5ha, giao thông, tiện ích</td>
               </tr>
               <tr>
                  <td>Quy mô dự án</td>
                  <td>
                     <ul style="padding-left: 15px">
                        <li>7 Block căn hộ + 2  tầng hầm để xe</li>
                        <li>Thương Mại, Dịch Vụ, Khách sạn 5 sao, Văn Phòng, Shophouse, Officetel</li>
                     </ul>
                  </td>
               </tr>
               <tr>
                  <td>Tổng số căn hộ</td>
                  <td>4000 căn hộ và Officetel</td>
               </tr>
               <tr>
                  <td>Thiết kế</td>
                  <td>
                     <ul style="padding-left: 15px">
                        <li>Thiết kế concept: Plus Architecture Australia</li>
                        <li>Thiết kế văn phòng: Bruce Henderson Architects, Australia.</li>
                        <li>Thiết kế cảnh quan: Landmark</li>
                     </ul>
                  </td>
               </tr>
               <tr>
                  <td>Thi công xây dựng</td>
                  <td>
                     <ul style="padding-left: 15px">
                        <li>Tổng thầu: EPC (Xuân Mai Corp)</li>
                        <li>Thi công móng cọc: Bình Đinh & An Phong.</li>
                     </ul>
                  </td>
               </tr>
               <tr>
                  <td>Tiến độ xây dựng</td>
                  <td>
                     <ul style="padding-left: 15px">
                        <li>Khởi công: Quý 1/2018</li>
                        <li>Bàn giao: Dự kiến 2021</li>
                     </ul>
                  </td>
               </tr>
               <tr>
                  <td>Pháp lý</td>
                  <td>
                     <ul style="padding-left: 15px">
                        <li>Người Việt Nam: Sơ hữu lâu dài</li>
                        <li>Người nước ngoài: 50 năm theo luật pháp hiện hành</li>
                     </ul>
                  </td>
               </tr>
            </table>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <a href="#eco-green2"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#gioi-thieu1"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>
      <!-- Section 3 -->
      <div class="section" id="section3">
         <img class="leaf-icon" src="assets/images/leaf.png"/>
         <div id="home-2-2-wrap">
            <div class="home-title home-2-2-title" style="color: #68b655;">QUY HOẠCH ĐỒNG BỘ</div>
            <div class="home-2-2-contain">
               <img src="assets/images/home-2-2.jpg" />
               <div class="home-2-2-image-note">
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">1</span></div>
                     </div>
                     <span>Tòa nhà HR1</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">2</span></div>
                     </div>
                     <span>Tòa nhà HR2</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">3</span></div>
                     </div>
                     <span>Tòa nhà M2</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">4</span></div>
                     </div>
                     <span>Công viên Eco-Green</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">5</span></div>
                     </div>
                     <span>TT tổ chức sự kiện</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">6</span></div>
                     </div>
                     <span>Tòa nhà HR3</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">7</span></div>
                     </div>
                     <span>Trường tiểu học Kim Đồng</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">8</span></div>
                     </div>
                     <span>Văn phòng bán hàng dự án</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">9</span></div>
                     </div>
                     <span>Khách sạn, Trung tâm thương mại</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">10</span></div>
                     </div>
                     <span>Tòa căn hộ MR2</span>
                  </div>
                  <div>
                     <div>
                        <div class="home-2-2-icon"><span class="home-2-2-icon-text">11</span></div>
                     </div>
                     <span>Tòa căn hộ MR1</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <a href="#gioi-thieu"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#gioi-thieu2"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>
      <!-- Section 2-3 -->
      <div class="section" id="section23" style="background:url(assets/images/home-2-3.jpg) center top/cover repeat-x !important;">
         <div id="home-2-3-wrap">
            <div id="home-2-3-wrap-animation">
               <div class="home-title">KIẾN TRÚC MẶT ĐỨNG ĐỘC ĐÁO</div>
               <div class="seperate-block"></div>
               <div style="font-size: 12px;">
                  <p>Từ đỉnh cao của sự phát triển, con người lại có xu hướng tìm về với thiên nhiên và những giá trị tự nhiên thuần khiết nhất. Lối sống sinh thái (Organic) hướng con người đến một cuộc sống cân bằng, gần gũi với thiên nhiên và hướng đến những điều bình dị nhất.</p>
                  <p>Trên quan điểm này, Plus Architecture – Công ty thiết kế uy tín hàng đầu Aurstralia đã thiết kế dự án Eco-Green Saigon theo phong cách kiến trúc hiện đại, thân thiện với môi trường và tận dụng tối đa năng lượng của tự nhiên phục vụ cho cuộc sống văn minh nơi đây.
                  Lõi trung tâm của dự án là công viên Eco-Green rộng hơn 3.5ha, trở thành khu điều hòa không khí tự nhiên cho tổ hợp. Xung quanh công viên là các công trình với kiến trúc độc đáo, khác biệt hướng mặt ra đại lộ Nguyễn Văn Linh và công viên Hương Tràm (rộng đến 22ha). Các công trình được đặt trong không gian rộng rãi, thoáng mát với môi trường sống trong lành và làn gió mát mẽ của sông Sài Gòn sẽ góp phần tôn lên vẽ đẹp đô thị Q.7 cũng như Litle Saigon</p>
                  <p>Dự án Eco Green Saigon có thiết kế độc đáo với 4 mặt thoáng và 3 cạnh tạo hình như những cánh quạt gió khổng lồ mang đến làn gió tự nhiên cho mọi căn phòng trong căn hộ. Nhờ thiết kế độc đáo này mà gần 100% các căn hộ của dự án đều là các căn góc có 2 mặt thoáng. Và mọi phòng trong căn hộ đều có từ 4 đến 5 cửa sổ, để đón ánh sáng và gió tự nhiên, đảm bảo căn hộ luôn ngập tràn nắng, gió tự nhiên.</p>
               </div>
            </div>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <a href="#gioi-thieu1"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#vi-tri1"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>

      <!-- Section 3-1 -->
      <div class="section" id="section31">
                  <div id="home-3-1-wrap">
            <div class="home-3-1-left">
               <img class="left-leaf-icon home-3-1-icon" src="assets/images/leaf.png"/>
               <div>
                  <div class="home-title green-text home-3-1-title">VỊ TRÍ</div>
                  <div id="home-3-1-block-1">
                     <div>
                        <p>Với vị trí cực kỳ đắc địa năm nay trung tâm của 3 trung tâm (Quận 1, Khu đô thị PMH, Khu đô thị mới Thủ Thiêm). Từ đây bạn đi về 3 trung tâm đó chỉ mất từ 5-10 phút. Cộng việc nằm ngay bên cạnh công viên Hương Tràm Q.7 rộng 22ha và tầm nhìn bao quát sông Sài Gòn rộng mênh mông đó là lý do tại sao khách sạn 5 sao Patt Hyatt sẽ được mọc lên tại đây</p>
                     </div>
                  </div>
                  <div id="home-3-1-block-2" style="display: none;">
                     <!-- <div class="home-title green-text home-3-1-title">VỊ TRÍ</div> -->
                     <div>
                        <p>Cùng vị trí mặt tiền đường Nguyễn Văn Linh bạn sẽ dễ dàng đi về khu đô thị PMH, khu chế xuất Tân Thuận, Nhà máy Hiệp Phước, KCN Cụm cảng Hiệp Phước cũng như đi về miền tây. Còn về hướng đông để tới khu đô thị mới Thủ Thiêm qua cầu Thủ Thiêm 4 trong 10 phút và đặc biệt qua đường Vành Đai 2 và Vành Đai 3 cư dân ở Eco-Green Saigon có thể dẽ dàng đi tới Đồng Nai, Vũng Tàu</p>
                     </div>
                  </div>
                  <div class="home-3-1-slider">
                     <div>
                        <div id="home-3-1-block-1-button" class="slider-block"></div>
                        <div id="home-3-1-block-2-button" class="slider-block" style="background-color: #828899;"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="home-3-1-right">
               <div>
                  <img src="assets/images/home-3-1.png" />
               </div>
            </div>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <a href="#gioi-thieu2"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#tien-ich1"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>

      <!-- Section 4-1 -->
      <div class="section" id="section41">
         <div class="home-4-1-floating-box-background"></div>
         <div class="home-4-1-main-text-background"></div>
         <div class="home-4-1-main-text">
            TIỆN ÍCH NỘI KHU
         </div>
         <div class="home-4-1-slider-left-icon">
            <div>
               <a id="goToThePreviousPicture">
                  <div>
                     <img src="assets/images/next-icon-copy.png"/>
                  </div>
               </a>
            </div>
         </div>
         <div class="home-4-1-slider-right-icon">
            <div>
               <a id="goToTheNextPicture">
                  <div>
                     <img src="assets/images/next-icon.png"/>
                  </div>
               </a>
            </div>
         </div>
         <div class="home-4-1-floating-box">
            <div class="home-4-1-floating-box-content" id="tien-ich1-0-content">
               <div class="home-4-1-floating-box-content-icon">
                  <img src="assets/images/sport-icon.png" />
                  <div>Khu Thể Dục Thể Thao</div>
               </div>
               <div class="home-4-1-floating-box-content-text">
                  1. Tầng 3 là tầng tiện ích cao cấp chỉ dành cho cư dân Eco Green như: Sân chơi trẻ em,  Vườn ngoại cảnh; Phòng sinh hoạt cộng đồng; Cafe; Khu vực BBQ; Khu tắm nắng thư giãn; Bể bơi; Bể bơi trẻ em; Bể sục; Khu cafe ngoài trời; Spa; Sân tập dưỡng sinh… tạo sự thuận tiện tối đa cho cư dân sinh sống tại đây. 
               </div>
            </div>
            <!--div class="home-4-1-floating-box-content" id="tien-ich1-1-content">
               <div class="home-4-1-floating-box-content-icon">
                  <img src="assets/images/nursery-school.png" />
                  <div>Trường mầm nons</div>
               </div>
               <div class="home-4-1-floating-box-content-text">
                  2. Khu thể dục thể thao với nhiều tiện ích đa dạng: sân chơi đa năng, phòng tập Gym, Spa, Yoga, bể bơi đường dạo bộ… 
               </div>
            </div-->
            <div class="home-4-1-floating-box-content" id="tien-ich1-1-content">
               <div class="home-4-1-floating-box-content-icon">
                  <img src="assets/images/hotel.png" />
                  <div>Khách sạn</div>
               </div>
               <div class="home-4-1-floating-box-content-text">
                  2. Một điểm nhấn của Eco Green Sài Gòn là khách sạn Park Hyatt 5 sao sẽ được xây dựng trên khuôn viên diện tích 30.000 m2 sẽ thu hút rất nhiều khách nội địa và quốc tến đến nghỉ dưỡng
               </div>
            </div>
            <div class="home-4-1-floating-box-content" id="tien-ich1-2-content">
               <div class="home-4-1-floating-box-content-icon">
                  <img src="assets/images/park.png" />
                  <div>Công viên</div>
               </div>
               <div class="home-4-1-floating-box-content-text">
                  3. Công viên cây xanh trung tâm Eco-Green rộng hơn 24ha và công viên Hương Tràm (Công viên trung tâm và công viên Hương Tram) xanh mát, nằm ngay lõi trung tâm và liền kề dự án giúp điều hòa không khí và tạo nên một cảnh quan nên thơ, cư dân sẽ được sống trong môi trường không khí trong lành, gần gũi với thiên nhiên
               </div>
            </div>
            <div class="home-4-1-floating-box-content" id="tien-ich1-3-content">
               <div class="home-4-1-floating-box-content-icon">
                  <img src="assets/images/event.png" />
                  <div>Sự kiện</div>
               </div>
               <div class="home-4-1-floating-box-content-text">
                  4. Trung tâm tổ chức sự kiện quy mô lớn nhất Sài Gòn với diện tích sử dụng hơn 60.000m2 sẽ được thiết kế, trang bị hệ thống âm thanh ánh sang hiện đại cung với không gian rộng rãi thoáng mát 
               </div>
            </div>
            <div class="home-4-1-floating-box-content" id="tien-ich1-4-content">
               <div class="home-4-1-floating-box-content-icon">
                  <img src="assets/images/carpark.png" />
                  <div>Bãi đậu xe</div>
               </div>
               <div class="home-4-1-floating-box-content-text">
                  5. Mỗi tòa nhà có từ 2 đến 3 hầm gửi xe sẽ đáp ứng đầy đủ nhu cầu gửi xe của cư dân.
               </div>
            </div>
            <div class="home-4-1-floating-box-content" id="tien-ich1-5-content">
               <div class="home-4-1-floating-box-content-icon">
                  <img src="assets/images/school.png" />
                  <div>Trường học</div>
               </div>
               <div class="home-4-1-floating-box-content-text">
                  6. Tại Eco Green Sài Gòn con bạn sẽ được học Trường Tiểu học Kim Đồng một công trình kiến trúc tuyệt đẹp cao 4 tầng sẽ đi vào hoạt động năm 2019. Và từ đây bạn dễ dàng đi đến trường Đại học Tôn Đức Thắng, Đại học RMIT, trường học quốc tế – công lập các cấp… chỉ vài phút di chuyển. Y tế: Viện tim Tâm Đức, Bệnh viện Pháp Việt, Bệnh viện Quận 7…
               </div>
            </div>
            <div class="home-4-1-floating-box-content" id="tien-ich1-6-content">
               <div class="home-4-1-floating-box-content-icon">
                  <img src="assets/images/shopping.png" />
                  <div>Mua sắm</div>
               </div>
               <div class="home-4-1-floating-box-content-text">
                  7. Trung tâm thương mại, siêu thị và các cửa hàng cao cấp được xây dựng trên diện tích 30.000m2 sẽ là nơi tuyệt vời để cư dân thỏa thích thăm quan mua sắm lựa chọn cho mình những sản phẩm yêu thích, từ quần áo, đồ dùng gia đình, hàng hiệu, ẩm thực gia đình, vui chơi giải trí 
               </div>
            </div>
            <div class="home-4-1-floating-box-control">
               <div class="home-4-1-slider" id="tien-ich1-0"></div>
               <div class="home-4-1-slider" id="tien-ich1-1"></div>
               <div class="home-4-1-slider" id="tien-ich1-2"></div>
               <div class="home-4-1-slider" id="tien-ich1-3"></div>
               <div class="home-4-1-slider" id="tien-ich1-4"></div>
               <div class="home-4-1-slider" id="tien-ich1-5"></div>
               <div class="home-4-1-slider" id="tien-ich1-6"></div>
               <!-- <div class="home-4-1-slider" id="tien-ich1-7"></div> -->
            </div>
         </div>
         <div id="home-4-1-wrap">
            <div class="slide" id="slide1" style="background:url(assets/images/tien-ich/home-4-1-TDTT.jpg) center top/cover repeat-x !important;">
            </div>
            <!--div class="slide" id="slide2" style="background:url(assets/images/tien-ich/home-4-1-mau-giao.jpg) center top/cover repeat-x !important;">
            </div-->
            <div class="slide" id="slide2" style="background:url(assets/images/tien-ich/home-4-1-khach-san.jpg) center top/cover repeat-x !important;">
            </div>
            <div class="slide" id="slide2" style="background:url(assets/images/tien-ich/home-4-1-cong-vien.jpg) center top/cover repeat-x !important;">
            </div>
            <div class="slide" id="slide2" style="background:url(assets/images/tien-ich/home-4-1-trung-tam-su-kien.jpg) center top/cover repeat-x !important;">
            </div>
            <div class="slide" id="slide2" style="background:url(assets/images/tien-ich/home-4-1-bai-dau-xe.png) center top/cover repeat-x !important;">
            </div>
            <div class="slide" id="slide2" style="background:url(assets/images/tien-ich/home-4-1-truong-hoc.jpg) center top/cover repeat-x !important;">
            </div>
            <div class="slide" id="slide2" style="background:url(assets/images/tien-ich/home-4-1-mua-sam.jpg) center top/cover repeat-x !important;">
            </div>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: -12px;z-index: 999999;">
            <a href="#vi-tri1"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#tien-ich2"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>
      <!-- Section 4-2 -->
      <div class="section" id="section42">
         <div id="home-4-2-wrap">
            <div class="home-4-2-left">
               <div>
                  <img src="assets/images/home-4-2.png" />
               </div>
            </div>
            <div class="home-4-2-right">
               <img class="left-leaf-icon" src="assets/images/leaf.png"/>
               <div>
                  <div class="home-title green-text home-3-1-title">TIỆN ÍCH NGOẠI KHU</div>
                  <div>
                     <p>Với vị trí nằm ở giữa 3 Trung tâm lớn của Sài Gòn (Q.1, PMH, Thủ Thiêm) nên cư dân tại đây dễ dàng tiếp cận những dịch vụ công, y tế giáo dục cũng như tới các trung tâm mua săm vui chơi giải trí lớn mà chỉ mất từ 7 -20 phút</p>
                     <ul>
                        <li>7 Phút: Tới PMH, Bệnh viện Việt Pháp, UBND Quận 7, khu chế xuất Tân Thuận, cụm cảng Sài Gòn</li>
                        <li>10 Phút: Tới phố đi bộ Nguyễn Huệ, nhà hát thành phố</li>
                        <li>15 Phút: Tới chợ Bến Thành và Sala Thủ Thiêm hay cảng Các Lái</li>
                        <li>20 Phút: Tới cụm cảng Hiệp Phước & Khu Công nghệ cao quận 9</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: 0;z-index: 999999;">
            <a href="#tien-ich1"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#tong-the"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>


      <!-- New section: Mat bang tong the -->
      <div class="section" id="mat-bang-tong-the">
         <img class="left-leaf-icon" src="assets/images/leaf3.png"/>
         <img class="right-leaf-icon" src="assets/images/right-left-icon.png"/>
         <div id="new-home-2-2-wrap">
            <div class="home-title new-home-2-2-title green-text">MẶT BẰNG TỔNG THỂ</div>
            <div class="new-home-2-2-contain">
               <img src="assets/images/map.png" />
               <div class="new-home-2-2-image-note">
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">1</span></div>
                     </div>
                     <span>Phòng tập gym</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">2</span></div>
                     </div>
                     <span>Phòng quản lý tòa nhà (581 m2)</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">3</span></div>
                     </div>
                     <span>Khu sinh hoạt cộng đồng</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">4</span></div>
                     </div>
                     <span>Khu tập dưỡng sinh, Yoga</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">5</span></div>
                     </div>
                     <span>Spa</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">6</span></div>
                     </div>
                     <span>Khu tắm nắng thư giãn</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">7</span></div>
                     </div>
                     <span>Bể bơi</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">8</span></div>
                     </div>
                     <span>Bể bơi trẻ em</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">9</span></div>
                     </div>
                     <span>Bể vầy</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">10</span></div>
                     </div>
                     <span>Khu sân chơi thư giãn</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">11</span></div>
                     </div>
                     <span>Vườn sinh thái</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">12</span></div>
                     </div>
                     <span>Vườn sinh thái</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">13</span></div>
                     </div>
                     <span>Nhà hàng</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">14</span></div>
                     </div>
                     <span>Cafe</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">15</span></div>
                     </div>
                     <span>Khu BBQ</span>
                  </div>
                  <div>
                     <div>
                        <div class="new-home-2-2-icon"><span class="new-home-2-2-icon-text">16</span></div>
                     </div>
                     <span>Cafe ngoài trời</span>
                  </div>
                  <div class="new-home-2-2-action">
                     <a href="/toa-nha/mat-bang-toa-nha.html#mat-bang-tong-the">
                        <div>
                           <span class="green-text">Xem thêm</span>
                           <img src="assets/images/arrow-icon-right.png"/>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <a href="#tien-ich2"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#tong-the1"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>

            <!-- Section 2-4 -->
      <div class="section" id="section24">
         <div id="home-2-4-wrap">
            <div class="home-2-4-left" style="background:url(assets/images/home-2-4.jpg) center top/cover repeat-x !important;">
            </div>
            <div class="home-2-4-right">
               <img class="left-leaf-icon" src="assets/images/leaf.png"/>
               <div>
                  <div class="home-title green-text">TÒA HR1</div>
                  <div class="seperate-block"></div>
                  <div>
                     <p><strong>Mở bán đợt đầu tiên - Eco Green Sài Gòn Giai Đoạn 1 Block HR1 ( Toà Nhà - Tháp HR1 )</strong></p>
                     <ul>
                        <li><strong>Phía Đông:</strong> giáp đường D1, lộ giới 15m</li>
                        <li><strong>Phía Tây:</strong> giáp đường Nguyễn Văn Linh, lộ giới 120m</li>
                        <li><strong>Phía Nam:</strong> giáp lô HR2 ( Tháp HR2)</li>
                        <li><strong>Phía Bắc:</strong> giáp đường N1, lộ giới 20m.</li>
                     </ul>
                     <p>Một tòa có 2 tháp; 11 căn/tầng; 1 tháp có 5 thang máy và 2 thang bộ.</p>
                     <p>Tiện ích: shophouse, nhà trẻ, hồ bơi, sân vườn, khu sinh hoạt cộng đồng.</p>
                  </div>
                  <div  class="row justify-content-end">
                     <a href="/toa-nha/mat-bang-toa-nha.html#toa-nha-hr1">
                        <div class="home-2-4-action">
                           <span class="green-text">Xem thêm</span>
                           <img src="assets/images/arrow-icon-right.png"/>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <a href="#tong-the"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#can-ho-mau"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>

      <!-- section 5 can ho mau -->
      <div class="section can-ho-mau" id="section5">
         <div class="home-4-1-slider-left-icon">
            <div>
               <a id="goToThePreviousPicture1">
                  <div>
                     <img src="assets/images/next-icon-copy.png"/>
                  </div>
               </a>
            </div>
         </div>
         <div class="home-4-1-slider-right-icon">
            <div>
               <a id="goToTheNextPicture1">
                  <div>
                     <img src="assets/images/next-icon.png"/>
                  </div>
               </a>
            </div>
         </div>
         <div class="can-ho-mau-wrap-content">
            <div>
               <div class="can-ho-mau-title">CĂN HỘ MẪU</div>
               <div class="can-ho-mau-content">
                  <div class="slide" id="slide1">
                     <img width="100%" height="100%" src="assets/images/can-ho-mau/can-ho-mau-1.png">
                  </div>
                  <div class="slide" id="slide2">
                        <img width="100%" height="100%" src="assets/images/can-ho-mau/can-ho-mau-2.png">
                  </div>
                  <div class="slide" id="slide3">
                     <img width="100%" height="100%" src="assets/images/can-ho-mau/can-ho-mau-3.jpg">
                  </div>
               </div>
               
               <div class="thong-minh-tien-loi">
                  THÔNG MINH - TIỆN LỢI - SANG TRỌNG
               </div>
               <div class="downArrow bounce" style="height: 20px; position: relative; bottom: 0">
                  <a href="#tong-the1"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
                  <a href="#thanh-toan"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
               </div>
            </div>
         </div>
         
      </div>


      <!-- Section Phuong thuc thanh toan -->
      <div class="section" id="phuong-thuc-thanh-toan">
         <img class="left-leaf-icon" src="assets/images/leaf3.png"/>
         <img class="right-leaf-icon" src="assets/images/right-left-icon.png"/>
         <div class="thanh-toan-wrap-content">
            <div>
               <div class="home-4-1-main-text green-text">PHƯƠNG THỨC THANH TOÁN</div>
               <img src="assets/images/thanh-toan.png">
            </div>
         </div>

         <div class="downArrow bounce" style="position: absolute; bottom: 0">
            <a href="#can-ho-mau"><img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" /></a>
            <a href="#chu-dau-tu"> <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" /></a>
         </div>
      </div>


      <!-- section 7 nha dau tu -->
      <div class="section chu-dau-tu-session" id="section7">
         <div>
            <img class="leaf-top" style=" z-index: 99; position: absolute; top: 0;right: 110px;" src="assets/images/leaf2.png" />
         </div>
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="home-4-1-main-text green-text">
                  CÁC ĐƠN VỊ PHÁT TRIỂN DỰ ÁN
               </div>
            </div>
         </div>
         <div class="container" style="max-width: 80%">
            <div class="row justify-content-around flex-wrap ">
               <div class="col-4 col img-dau-tu">
                  <div class="row align-items-center height-chu-dau-tu">
                     <div class="col img-dau-tu"> <img class="img-chu-dau-tu" class="img-chu-dau-tu" src="assets/images/chu-dau-tu/xuanMai.png"> </div>
                  </div>
                  <div class="name align-items-center">CHỦ ĐẦU TƯ</div>
               </div>
               <div class="col-4 col img-dau-tu">
                  <div class="row align-items-center height-chu-dau-tu">
                     <div class="col img-dau-tu"> <img class="img-chu-dau-tu" src="assets/images/chu-dau-tu/plus.png"> </div>
                  </div>
                  <div class=" name">THIẾT KẾ CONCEPT</div>
               </div>
               <div class="col-4 col img-dau-tu">
                  <div class="row align-items-center height-chu-dau-tu">
                     <div class="col img-dau-tu"> <img  class="img-chu-dau-tu"  src="assets/images/chu-dau-tu/cote.png"> </div>
                  </div>
                  <div class="name">THI CÔNG MÓNG, CỌC</div>
               </div>
               <div class="col-4 col img-dau-tu">
                  <div class="row align-items-center height-chu-dau-tu">
                     <div class="col img-dau-tu"> <img  class="img-chu-dau-tu-thu-thiem" src="assets/images/chu-dau-tu/thuthiemHome.png"> </div>
                  </div>
                  <div class="name">PHÁT TRIỂN DỰ ÁN</div>
               </div>
               <div class="col-4 col img-dau-tu">
                  <div class="row align-items-center height-chu-dau-tu">
                     <div class="col img-dau-tu"> <img class="img-chu-dau-tu" src="assets/images/chu-dau-tu/bruce.png"> </div>
                  </div>
                  <div class="name">THIẾT KẾ VPBH VÀ NHÀ MẪU</div>
               </div>
               <div class="col-4 col img-dau-tu">
                  <div class="row align-items-center height-chu-dau-tu">
                     <div class="col img-dau-tu"> <img class="img-chu-dau-tu" src="assets/images/chu-dau-tu/ttid.png"> </div>
                  </div>
                  <div class=" name">THIẾT KẾ VPBH VÀ NHÀ MẪU</div>
               </div>
            </div>
         </div>
         <div>
            <img class="leaf-bottom" style="    z-index: 99;position: absolute;bottom: 0;" src="assets/images/leaf3.png" />
         </div>
         <div class="downArrow bounce downArrow-chu-dau-tu" style="position: absolute; bottom: 0;">
            <a href="#thanh-toan">
            <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" />
            </a>
            <a href="#lien-he">
            <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_dow.png" />
            </a>
         </div>
      </div>
      <!--section 8 lien he-->
      <div class="section" id="section8">
         <div>
            <img class="leaf-top" style=" z-index: 99; position: absolute; top: 0;right: 110px;" src="assets/images/leaf2.png" />
         </div>
         <div class="container" style="height: 80%;padding-left: 4%;width: 100%;max-width: 96%;">
            <div class="row lien-he-content">
               <div class="col-md-6 col-12 back-ground-section-lien-he" >
                  <div class="Thng-Tin-Lin-H">THÔNG TIN LIÊN HỆ</div>
                  <div class="Hin-ti-sn-phm-cn-h-Eco-Green-Si-Gn-ang-c-rt-nhiu-lien-he">Hiện tại sản phẩm căn hộ Eco Green Sài Gòn đang được rất nhiều khách hàng quan tâm và đặt mua. Để có thể sở hữu được căn hộ Eco Green Sài Gòn  với giá tốt nhất cũng như vị trí đẹp nhất, Quý khách hãy liên hệ ngay cho chúng tôi để được hỗ trợ nhanh chóng và tận tình.</div>
                  <div class="item-lien-he-first">
                     <span class="item-img"><img src="assets/images/lien-he/home.png"></span>
                     <span class="text-style-lien-he">Phòng kinh doanh Eco Green Sài Gòn</span>
                  </div>
                  <div class="item-lien-he">
                     <span class="item-img"><img src="assets/images/lien-he/dia-chi.png"></span>
                     <span class="text-style-lien-he">Địa chỉ: mặt tiền Nguyễn Văn Linh, P.Tân Thuận, Quận 7, Tp.HCM</span>
                  </div>
                  <div class="item-lien-he">
                     <span class="item-img"><img src="assets/images/lien-he/phone-call.png"></span>
                     <span class="text-style-lien-he "> Phone: <span class="text-private">0903707175</span></span>
                  </div>
                  <div class="item-lien-he">
                     <span class="item-img"><img src="assets/images/lien-he/mail.png"></span>
                     <span class="text-style-lien-he "> Email: <span class="text-private">richtran779@gmail.com</span></span>
                  </div>
               </div>
               <div class="col-md-6 col-12 content-lien-he">
                  <div >
                     <div class="noi-dung-lien-he">NỘI DUNG LIÊN HỆ</div>
                     <div class="input-lien-he-content-first">
                        <input placeholder="Họ và Tên" type="text" id="name-contact" class="input-lien-he">
                     </div>
                     <div class="input-lien-he-content">
                        <input placeholder="Số điện thoại" id="phone-contact" type="text" class="input-lien-he">
                     </div>
                     <div class="input-lien-he-content">
                        <input placeholder="Email" id="mail-contact" type="text" class="input-lien-he">
                     </div>
                     <div class="input-lien-he-content">
                        <textarea placeholder="Nội dung" id="content-contact" rows="5" class="input-lien-he-textarea"></textarea>
                     </div>
                     <div class="btn-lien-he">
                        <button id="sent-contact"><span class="gui">Gửi</span></button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div>
            <img class="leaf-bottom" style="    z-index: 99;position: absolute;bottom: 0;" src="assets/images/leaf.png" />
         </div>
         <div class="downArrow bounce downArrow-lien-he" style="position: absolute; bottom: 0; margin-top: 5px">
            <a href="#chu-dau-tu">
            <img style="cursor: pointer" width="50" height="50" alt="" src="assets/images/arrow-down/arrow_up.png" />
            </a>
         </div>
      </div>
   </div>
   <div>
      <a href="tel: 0903707175" class="fancybox">
         <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show" id="coccoc-alo-phoneIcon">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle"></div>
         </div>
      </a>
   </div>
</div>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/fullpage.js/dist/fullpage.js"></script>
<script type="text/javascript" src="assets/js/jssor.slider.min.js"></script>
<script type="text/javascript">
   var currentStatus = "mute";
   $("#mute").css("display", "none");
   function controlSound(){
      if(currentStatus == "mute") {
         currentStatus = "unmute";
         $("#unmute").css("display", "none");
         $("#mute").css("display", "block");
         $("#video").prop("muted", false);
      }else {
         currentStatus = "mute";
         $("#mute").css("display", "none");
         $("#unmute").css("display", "block");
         $("#video").prop("muted", true);
      }
   }

   var myFullpage = new fullpage('#fullpage', {
       anchors: ['eco-green1', 'eco-green2', 'gioi-thieu', 'gioi-thieu1', 'gioi-thieu2', 'vi-tri1', 'tien-ich1', 'tien-ich2', 'tong-the','tong-the1', 'can-ho-mau', 'thanh-toan','chu-dau-tu', 'lien-he'],
       navigation: false,
       licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
      afterRender: function () {
         //on page load, start the slideshow
         setTimeout(function(){
           setInterval(function () {
               fullpage_api.moveSlideRight();
            }, 12000);
         },7000)

      },
     onLeave: function(index, nextIndex, direction){
       if(nextIndex.anchor == "gioi-thieu"){
         var width =  + Number(($('#home-2-1-wrap').width())) + 120 ;
         $('#home-2-1-wrap').css("margin-left",'-' + width + 'px');
         setTimeout(function () {
           $('#home-2-1-wrap').animate({marginLeft:"0"},1000);
         });
       }
       if(nextIndex.anchor == "gioi-thieu2"){
         var width =  + Number(($('#home-2-3-wrap-animation').width())) + 120 ;
         $('#home-2-3-wrap-animation').css("margin-left", '-'+width +'px');
         setTimeout(function () {
           $('#home-2-3-wrap-animation').animate({marginLeft:"0"},1000);
         });
       }
   
       if(nextIndex.anchor == "eco-green3"){
         var height =  + Number(($('#home-1-2-wrap').height())) + 120 ;
         if(direction == 'up'){
           $('#home-1-2-wrap').css("top","110%");
           setTimeout(function () {
             $('#home-1-2-wrap').animate({top:"3%"},1000);
           });
         }else{
           $('#home-1-2-wrap').css("top",'-' + height +'px');
           setTimeout(function () {
             $('#home-1-2-wrap').animate({top:"3%"},1000);
           });
         }
   
       }
        if(nextIndex.anchor == "eco-green1"){
           playvideo();
        }
   
   
     }
   });
</script>
<script type="text/javascript">
   $(document).ready(function() {
       $(".slider-block").click(function(e){
           var actionId = e.target.id;
           var contentId = actionId.substring(0, actionId.lastIndexOf("-"));
           $("#" + contentId).css("display", "block");
           $("#" + actionId).css("background-color", "#68b655");
           if(contentId == "home-3-1-block-1"){
               $("#home-3-1-block-2").css("display", "none");
               $("#home-3-1-block-2-button").css("background-color", "#828899");
           }else if(contentId == "home-3-1-block-2"){
               $("#home-3-1-block-1").css("display", "none");
               $("#home-3-1-block-1-button").css("background-color", "#828899");
           }
       });

       $("#left-menu-icon").click(function(e) {
           if ($("#left-menu").hasClass("visibile")) {
               $("#left-menu").removeClass("visibile");
              $('#left-menu').css('z-index', 999);
           } else {
               $("#left-menu").addClass("visibile");
              $('#left-menu').css('z-index', 1001);
           }
   
       })
   
       $(".left-menu-str").click(function(e) {
           $(".left-menu-str").removeClass("selected");
           $(this).addClass("selected");
       })
   
       var url = $(location).attr('href');
       addSelectedClass(url)
       $(window).on('hashchange', function(e) {
           var oldUrl = e.originalEvent.oldURL;
           var newUrl = e.originalEvent.newURL;
           removeSelectedClass(oldUrl);
           addSelectedClass(newUrl);
       });
   });
   
   function addSelectedClass(section) {
       var sectionId = section.match(/#[a-z,A-Z,0-9]+-[a-z,A-Z]+[-,a-z,A-Z]*/);
       $(".left-menu-str").removeClass("selected");
       if (sectionId === null) {
           $('#eco-greenIcon').addClass('selected-icon');
           $('#eco-greenMenu').addClass('selected-icon');
       } else {
           $(sectionId[0] + 'Icon').addClass('selected-icon');
           $(sectionId[0] + 'Menu').addClass("selected");
       
          if(sectionId == "#tien-ich"){
            var childSectionId = section.match(/#tien-ich1\/[0-9]/);
            $(".home-4-1-slider").css("background-color", "#ffffff");
            $(".home-4-1-floating-box-content").css("display", "none");
            if(childSectionId != null){
              $(childSectionId[0].replace("/", "-")).css("background-color", "#4ccf2c");
              $(childSectionId[0].replace("/", "-") + "-content").css("display", "flex");
              childSectionId = childSectionId[0].split("/")[1];
              if(childSectionId == 7){
                $("#goToTheNextPicture").attr("href", "#tien-ich1/0");
              }else{
                $("#goToTheNextPicture").attr("href", "#tien-ich1/" + (eval(childSectionId) + 1))
              }
              $("#goToThePreviousPicture").attr("href", "#tien-ich1/" + (eval(childSectionId) - 1));
            }else {
              $("#tien-ich1-0").css("background-color", "#4ccf2c");
              $("#goToThePreviousPicture").attr("href", "#tien-ich1/8");
              $("#goToTheNextPicture").attr("href", "#tien-ich1/1");
              $("#tien-ich1-0-content").css("display", "flex");
            }
          }

          var refreshIntervalId = null;
          if(sectionId[0] == "#vi-tri"){
             var temp = 0;
             refreshIntervalId = setInterval(function(){
               if(temp == 0){
                  $( "#home-3-1-block-2-button" ).triggerHandler( "click" );
                  temp = 1;
               }else {
                  $( "#home-3-1-block-1-button" ).triggerHandler( "click" );
                  temp = 0;
               }
             }, 12000);
          }else {
            clearInterval(refreshIntervalId);
          }
      
          if(sectionId == "#can-ho-mau"){
            var childSectionId = section.match(/#can-ho-mau\/[0-9]/);
            if(childSectionId != null){
              childSectionId = childSectionId[0].split("/")[1];
              if(childSectionId == 2){
                $("#goToTheNextPicture1").attr("href", "#can-ho-mau/0");
              }else{
                $("#goToTheNextPicture1").attr("href", "#can-ho-mau/" + (eval(childSectionId) + 1))
              }
              $("#goToThePreviousPicture1").attr("href", "#can-ho-mau/" + (eval(childSectionId) - 1));
            }else {
              $("#goToThePreviousPicture1").attr("href", "#can-ho-mau/2");
              $("#goToTheNextPicture1").attr("href", "#can-ho-mau/1")
            }
          }
      }
   }
   
   function removeSelectedClass(section) {
       var sectionId = section.match(/#[a-z,A-Z,0-9]+-[a-z,A-Z]+[-,a-z,A-Z]*/);
       $(".selected-icon").css("border-color", "");
       if (sectionId === null) {
           $('#eco-greenIcon').removeClass('selected-icon');
       } else {
           $(sectionId[0] + 'Icon').removeClass('selected-icon');
       }
   }
   $('body').on('click', '#xemThem', function() {
       window.location.href = '/toa-nha/mat-bang-toa-nha.html';
   })
</script>
<script type="text/javascript">
   $(document).ready(function () {
      $('#fullpage').click(function () {
         $("#left-menu").removeClass("visibile");
         $('#left-menu').css('z-index', 999);
      })
   })
</script>
<script src="assets/js/mailTo.js"></script>
<script type="text/javascript">
   $(document).ready(function () {
      $('#left-menu').focusout(function (e) {
         console.log(e);
         $("#left-menu").removeClass("visibile");
         $('#left-menu').css('z-index', 999);
      })
   })
</script>
<script>
   $(document).ready(function () {
      $('#left-eco-icon').click(function () {
         $("#left-menu").removeClass("visibile");
         $('#left-menu').css('z-index', 999);
      })
   })
</script>
<script>


   function playvideo()
   {  
      // video.muted = false;
      $('#video').get(0).play();
      $("#buttonplay").css("display", "none");
   }

   function pausevideo()
   {
      $('#video').get(0).pause();
      $("#buttonplay").css("display", "block");
   }

   function check_video(video)
   {
      if($(video).get(0).paused)
      {
         playvideo();
      }
      else
      {
         pausevideo();
      }
   }
</script>