<div id="left-menu">
    <div id="left-menu-content" style="background:url(assets/images/left-menu-expand.png) top center repeat-x !important;">
        <a href="#eco-green1">
        <img id="left-eco-icon" src="assets/images/logo.png" />
        </a>
        <div class="left-menu-wrap">
            <div class="lightBackgroundColor">
                <a href="#eco-green1">
                    <div id="eco-greenMenu" class="left-menu-str">TRANG CHỦ</div>
                </a>
            </div>
            <div>
                <a href="#gioi-thieu1">
                    <div id="gioi-thieuMenu" class="left-menu-str">GIỚI THIỆU</div>
                </a>
            </div>
            <div>
                <a href="#vi-tri1">
                    <div id="vi-triMenu" class="left-menu-str">VỊ TRÍ</div>
                </a>
            </div>
            <div>
                <a href="#tien-ich1">
                    <div id="tien-ichMenu" class="left-menu-str">TIỆN ÍCH</div>
                </a>
            </div>
            <div>
                <a href="#tong-the">
                    <div id="tong-theMenu" class="left-menu-str">MẶT BẰNG TỔNG THỂ</div>
                </a>
            </div>
            <div>
                <a href="#can-ho-mau">
                    <div id="can-ho-mauMenu" class="left-menu-str">CĂN HỘ MẪU</div>
                </a>
            </div>
            <div>
                <a href="#thanh-toan">
                    <div id="thanh-toanMenu" class="left-menu-str">THANH TOÁN</div>
                </a>
            </div>
            <div>
                <a href="#chu-dau-tu">
                    <div id="chu-dau-tuMenu" class="left-menu-str">PHÁT TRIỂN DỰ ÁN</div>
                </a>
            </div>
            <div>
                <a href="/tien-do/Hinh-anh-thi-cong-den-ngay-30-08-2018.html">
                    <div id="tien-doMenu" class="left-menu-str">TIẾN ĐỘ</div>
                </a>
            </div>
            <div>
                <a href="/category/vat-lieu-hoan-thien.html">
                    <div id="vat-lieuMenu" class="left-menu-str">VẬT LIỆU HOÀN THIỆN</div>
                </a>
            </div>
            <div>
                <a href="#lien-he">
                    <div id="lien-heMenu" class="left-menu-str">LIÊN HỆ</div>
                </a>
            </div>
        </div>
        <div id="wrap-hotline">
            <span>HOTLINE</span>
            <span class="lightColor">0903707175</span>
        </div>
    </div>
    <div id="left-menu-icon" class="lightBackgroundColor">
        <div>
            <div id="menu-str">Menu</div>
            <img src="assets/images/menu.png" />
        </div>
    </div>
</div>
<div id="eco-green1" style="background: url(assets/images/mobile/home-1-1.png)">
    <img src="assets/images/mobile/logo.png"/>
    <div>
        <div class="mobile-home-1-1-text">SỐNG XANH MỖI NGÀY</div>
    </div>
</div>
<div id="eco-green2" style="background: url(assets/images/mobile/home-1-2.png)">
    <div>
        <div>
            <div class="home-1-2-title">SỐNG XANH MỖI NGÀY</div>
            <div class="home-1-2-text">
                Từ đỉnh cao của sự phát triển, con người lại có xu hướng tìm về với thiên nhiên và những giá trị tự nhiên thuần khiết nhất. Lối sống sinh thái (Organic) mang cho con người một cuộc sống cân bằng, gần gũi với thiên nhiên và hướng đến những điều bình dị nhất:
                <ul>
                    <li>Để cảm nhận những âm thanh trong trẻocủa cuộc sống.</li>
                    <li>Sống khỏe trong không gian nghỉ dưỡng. </li>
                    <li>Tận hưởng hạnh phúc đích thực bên gia đình</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="gioi-thieu1">
    <div class="home-2-1-wrap" style="background: url(assets/images/left-menu-expand.png) top center repeat-x !important;">
        <div class="home-1-2-title green-text">GIỚI THIỆU</div>
        <table>
            <tr>
                <td>Chủ đầu tư</td>
                <td>Công ty cổ phần Đầu tư và Xây dựng Xuân Mai Sài Gòn (Xuân Mai Sài Gòn)</td>
            </tr>
            <tr>
                <td>Tên thương mại</td>
                <td>Dự án Eco-green Saigon</td>
            </tr>
            <tr>
                <td>Tổng diện tích</td>
                <td>14,36 ha</td>
            </tr>
            <tr>
                <td>Vị trí</td>
                <td>Mặt tiền đại lộ Nguyễn Văn Linh giao Tân Thuận Tây, Phường Tân Thuận, Q7, TPHCM</td>
            </tr>
            <tr>
                <td>Mật độ xây dựng</td>
                <td>30% còn 70% là Công Viên 3.5ha, giao thông, tiện ích</td>
            </tr>
            <tr class="show-more">
                <td>Quy mô dự án</td>
                <td>
                    <ul>
                        <li>7 Block căn hộ + 2  tầng hầm để xe</li>
                        <li>Thương Mại, Dịch Vụ, Khách sạn 5 sao, Văn Phòng, Shophouse, Officetel</li>
                    </ul>
                </td>
            </tr>
            <tr class="show-more">
                <td>Tổng số căn hộ</td>
                <td>4000 căn hộ và Officetel</td>
            </tr>
            <tr class="show-more">
                <td>Thiết kế</td>
                <td>
                    <ul>
                        <li>Thiết kế concept: Plus Architecture Australia</li>
                        <li>Thiết kế văn phòng: Bruce Henderson Architects, Australia.</li>
                        <li>Thiết kế cảnh quan: Landmark</li>
                    </ul>
                </td>
            </tr>
            <tr class="show-more">
                <td>Thi công xây dựng</td>
                <td>
                    <ul>
                        <li>Tổng thầu: EPC (Xuân Mai Corp)</li>
                        <li>Thi công móng cọc: Bình Đinh & An Phong.</li>
                    </ul>
                </td>
            </tr>
            <tr class="show-more">
                <td>Tiến độ xây dựng</td>
                <td>
                    <ul>
                        <li>Khởi công: Quý 1/2018</li>
                        <li>Bàn giao: Dự kiến 2021</li>
                    </ul>
                </td>
            </tr>
            <tr class="show-more">
                <td>Pháp lý</td>
                <td>
                    <ul>
                        <li>Người Việt Nam: Sơ hữu lâu dài</li>
                        <li>Người nước ngoài: 50 năm theo luật pháp hiện hành</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="green-text show-more-info">Xem thêm</span>
                </td>
            </tr>
        </table>
    </div>
    <img src="assets/images/mobile/home-2-1.png" />
</div>
<div id="gioi-thieu2">
    <div class="mobile-home-2-2-wrap" style="background: url(assets/images/left-menu-expand.png) top center repeat-x !important;">
        <div class="home-1-2-title green-text">QUY HOẠCH ĐỒNG BỘ</div>
        <img src="assets/images/mobile/home-2-2.png" />
        <div class="mobile-home-2-2-image-note">
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">1</span></div>
                </div>
                <span>Tòa nhà HR1</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">2</span></div>
                </div>
                <span>Tòa nhà HR2</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">3</span></div>
                </div>
                <span>Tòa nhà M2</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">4</span></div>
                </div>
                <span>Công viên Eco-Green</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">5</span></div>
                </div>
                <span>TT tổ chức sự kiện</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">6</span></div>
                </div>
                <span>Tòa nhà HR3</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">7</span></div>
                </div>
                <span>Trường tiểu học Kim Đồng</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">8</span></div>
                </div>
                <span>Văn phòng bán hàng dự án</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">9</span></div>
                </div>
                <span>Khách sạn, Trung tâm thương mại</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">10</span></div>
                </div>
                <span>Tòa căn hộ MR2</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">11</span></div>
                </div>
                <span>Tòa căn hộ MR1</span>
            </div>
        </div>
    </div>
    <img class="home-2-2-leaf" src="assets/images/mobile/leaf_2.png"/>
</div>
<div id="gioi-thieu3" style="background: url(assets/images/mobile/home-2-3.png)">
    <div>
        <div>
            <div class="home-1-2-title">KIẾN TRÚC MẶT ĐỨNG ĐỘC ĐÁO</div>
            <div class="home-1-2-text">
                <p>Mỗi tòa nhà trong dự án đều có 4 mặt thoáng. Các tòa nhà được thiết kế với 3 cạnh tạo hình như những cánh quạt gió khổng lồ mang đến gió tự nhiên cho mọi căn phòng trong căn hộ.</p>
                <p>Gần 60% các căn hộ của dự án đều là các căn góc có 2 mặt thoáng. Và mọi phòng trong căn hộ đều có cửa sổ, ban công đón ánh sáng và gió tự nhiên.</p>
            </div>
        </div>
    </div>
</div>
<div id="vi-tri1" style="background: url(assets/images/left-menu-expand.png) top center repeat-x !important;">
    <img class="home-3-1-leaf" src="assets/images/mobile/leaf.png"/>
    <div class="mobile-home-3-1-wrap" >
        <div>
            <div class="mobile-home-3-1-main">
                <div class="home-1-2-title green-text">VỊ TRÍ</div>
                <div id="mobile-home-3-1-block-1">
                    <div>
                        <p>Với vị trí cực kỳ đắc địa năm nay trung tâm của 3 trung tâm (Quận 1, Khu đô thị PMH, Khu đô thị mới Thủ Thiêm). Từ đây bạn đi về 3 trung tâm đó chỉ mất từ 5-10 phút. Cộng việc nằm ngay bên cạnh công viên Hương Tràm Q.7 rộng 22ha và tầm nhìn bao quát sông Sài Gòn rộng mênh mông đó là lý do tại sao khách sạn 5 sao Patt Hyatt sẽ được mọc lên tại đây</p>
                    </div>
                </div>
                <div id="mobile-home-3-1-block-2" style="display: none;">
                    <div>
                        <p>Cùng vị trí mặt tiền đường Nguyễn Văn Linh bạn sẽ dễ dàng đi về khu đô thị PMH, khu chế xuất Tân Thuận, Nhà máy Hiệp Phước, KCN Cụm cảng Hiệp Phước cũng như đi về miền tây. Còn về hướng đông để tới khu đô thị mới Thủ Thiêm qua cầu Thủ Thiêm 4 trong 10 phút và đặc biệt qua đường Vành Đai 2 và Vành Đai 3 cư dân ở Eco-Green Saigon có thể dẽ dàng đi tới Đồng Nai, Vũng Tàu</p>
                    </div>
                </div>
                <div class="mobile-home-3-1-slider">
                    <div>
                        <div id="mobile-home-3-1-block-1-button" class="mobile-slider-block"></div>
                        <div id="mobile-home-3-1-block-2-button" class="mobile-slider-block" style="background-color: #828899;"></div>
                    </div>
                </div>
            </div>
        </div>
        <img src="assets/images/mobile/home-3-1.png" />
    </div>
</div>
<div id="tien-ich1" style="background: url(assets/images/left-menu-expand.png) top center repeat-x !important;">
    <div class="container">
        <div style="padding-left: 25px;" class="home-1-2-title green-text">TIỆN ÍCH NỘI KHU</div>
        <!-- Jssor Slider Begin -->
        <style>
            /* jssor slider loading skin spin css */
            .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            }
            @keyframes jssorl-009-spin {
            from {
            transform: rotate(0deg);
            }
            to {
            transform: rotate(360deg);
            }
            }
        </style>
        <div id="slider2_container" style="visibility: hidden; position: relative; margin: 0; width: 100%; height: 70vh; overflow: hidden;">
            <!-- Slides Container -->
            <div data-u="slides" style="position: absolute; left: 0px; top: 0px; width: 110%; height: 70vh;
                overflow: hidden;">
                <div>
                    <img style="height: 100vh;" data-u="image" src="assets/images/tien-ich/home-4-1-TDTT.jpg" />
                </div>
                <div>
                    <img style="height: 100vh;" data-u="image" src="assets/images/tien-ich/home-4-1-truong-hoc.jpg" />
                </div>
                <div>
                    <img style="height: 100vh;" data-u="image" src="assets/images/tien-ich/home-4-1-khach-san.jpg" />
                </div>
                <div>
                    <img style="height: 100vh;" data-u="image" src="assets/images/tien-ich/home-4-1-cong-vien.jpg" />
                </div>
                <div>
                    <img style="height: 100vh;" data-u="image" src="assets/images/tien-ich/home-4-1-trung-tam-su-kien.jpg" />
                </div>
                <div>
                    <img style="height: 100vh;" data-u="image" src="assets/images/tien-ich/home-4-1-bai-dau-xe.png" />
                </div>
                <div>
                    <img style="height: 100vh;" data-u="image" src="assets/images/tien-ich/home-4-1-mua-sam.jpg" />
                </div>
            </div>
            <!--#region Bullet Navigator Skin Begin -->
            <!-- Help: https://www.jssor.com/development/slider-with-bullet-navigator.html -->
            <style>
                .jssorb031 {position:absolute;}
                .jssorb031 .i {position:absolute;cursor:pointer;}
                .jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
                .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
                .jssorb031 .i.idn {opacity:.3;}
                .jssorb031 .iav{fill:#fff;stroke:#000;fill-opacity:1; background-color: #68b655 !important;}
            </style>
            <!--          <div data-u="navigator" class="jssorb031" style="position:absolute;bottom:12px;right:5px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                <div data-u="prototype" class="i" style="width:10px;height:2px; background-color: #ffffff;">
                  
                </div>
                </div> -->
            <!--#endregion Bullet Navigator Skin End -->
            <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: https://www.jssor.com/development/slider-with-arrow-navigator.html -->
            <style>
                .jssora051 {display:block;position:absolute;cursor:pointer;}
                .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
                .jssora051:hover {opacity:.8;}
                .jssora051.jssora051dn {opacity:.5;}
                .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
            </style>
            <div data-u="arrowleft" class="jssora051 mobile-home-4-1-left-arrow" data-autocenter="2" data-scale="0.25" data-scale-left="0.25">
                <img style="width: 7px;" src="assets/images/next-icon-copy.png"/>
            </div>
            <div data-u="arrowright" class="jssora051 mobile-home-4-1-right-arrow" data-autocenter="2" data-scale="0.25" data-scale-right="0.25">
                <img style="width: 7px;" src="assets/images/next-icon.png"/>
            </div>
            <!--#endregion Arrow Navigator Skin End -->
        </div>
        <!-- Jssor Slider End -->
        <div class="mobile-home-4-1-main-wrap">
            <div>
                <div class="mobile-home-4-1-floating-box-content" id="tien-ich1-0-content">
                    <div class="mobile-home-4-1-floating-box-content-icon">
                        <img src="assets/images/sport-icon.png" />
                        <div>Khu TDTT</div>
                    </div>
                    <div class="mobile-home-4-1-floating-box-content-text">
                        1. Tầng 3 là tầng tiện ích cao cấp chỉ dành cho cư dân Eco Green như: Sân chơi trẻ em,  Vườn ngoại cảnh; Phòng sinh hoạt cộng đồng; Cafe; Khu vực BBQ; Khu tắm nắng thư giãn; Bể bơi; Bể bơi trẻ em; Bể sục; Khu cafe ngoài trời; Spa; Sân tập dưỡng sinh… tạo sự thuận tiện tối đa cho cư dân sinh sống tại đây.
                    </div>
                </div>
                <div class="mobile-home-4-1-floating-box-content" id="tien-ich1-1-content">
                    <div class="mobile-home-4-1-floating-box-content-icon">
                        <img src="assets/images/nursery-school.png" />
                        <div>Trường học</div>
                    </div>
                    <div class="mobile-home-4-1-floating-box-content-text">
                        2. Tại Eco Green Sài Gòn con bạn sẽ được học Trường Tiểu học Kim Đồng một công trình kiến trúc tuyệt đẹp cao 4 tầng sẽ đi vào hoạt động năm 2019. Và từ đây bạn dễ dàng đi đến trường Đại học Tôn Đức Thắng, Đại học RMIT, trường học quốc tế – công lập các cấp… chỉ vài phút di chuyển. Y tế: Viện tim Tâm Đức, Bệnh viện Pháp Việt, Bệnh viện Quận 7.
                    </div>
                </div>
                <div class="mobile-home-4-1-floating-box-content" id="tien-ich1-2-content">
                    <div class="mobile-home-4-1-floating-box-content-icon">
                        <img src="assets/images/hotel.png" />
                        <div>Khách sạn</div>
                    </div>
                    <div class="mobile-home-4-1-floating-box-content-text">
                        3. Một điểm nhấn của Eco Green Sài Gòn là khách sạn Park Hyatt 5 sao sẽ được xây dựng trên khung viên diện tích 30.000 m2 sẽ thu hút rất nhiêu khách nội địa và quốc tến đến nghỉ dưỡng.
                    </div>
                </div>
                <div class="mobile-home-4-1-floating-box-content" id="tien-ich1-3-content">
                    <div class="mobile-home-4-1-floating-box-content-icon">
                        <img src="assets/images/park.png" />
                        <div>Công viên</div>
                    </div>
                    <div class="mobile-home-4-1-floating-box-content-text">
                        4. Công viên cây xanh trung tâm Eco-Green rộng hơn 24ha và công viên Hương Tràm (Công viên trung tâm và công viên Hương Tram) xanh mát, nằm ngay lõi trung tâm và liền kề dự án giúp điều hòa không khí và tạo nên một cảnh quan nên thơ, cư dân sẽ được sống trong môi trường không khí trong lành, gần gũi với thiên nhiên.
                    </div>
                </div>
                <div class="mobile-home-4-1-floating-box-content" id="tien-ich1-4-content">
                    <div class="mobile-home-4-1-floating-box-content-icon">
                        <img src="assets/images/event.png" />
                        <div>Sự kiện</div>
                    </div>
                    <div class="mobile-home-4-1-floating-box-content-text">
                        5. Trung tâm tổ chức sự kiện quy mô lớn nhất Sài Gòn với diện tích sử dụng hơn 60.000m2 sẽ được thiết kế, trang bị hệ thống âm thanh ánh sang hiện đại cung với không gian rộng rãi thoáng mát.
                    </div>
                </div>
                <div class="mobile-home-4-1-floating-box-content" id="tien-ich1-5-content">
                    <div class="mobile-home-4-1-floating-box-content-icon">
                        <img src="assets/images/carpark.png" />
                        <div>Bãi xe</div>
                    </div>
                    <div class="mobile-home-4-1-floating-box-content-text">
                        6. Hầm gửi xe rộng lớn: Mỗi tòa nhà có từ 2 đến 3 hầm gửi xe sẽ đáp ứng đầy đủ nhu cầu gửi xe của cư dân.
                    </div>
                </div>
                <div class="mobile-home-4-1-floating-box-content" id="tien-ich1-6-content">
                    <div class="mobile-home-4-1-floating-box-content-icon">
                        <img src="assets/images/school.png" />
                        <div>Mua sắm</div>
                    </div>
                    <div class="mobile-home-4-1-floating-box-content-text">
                        7. Trung tâm thương mại, siêu thị và các cửa hàng cao cấp được xây dựng trên diện tích 30.000m2 sẽ là nơi tuyệt vời để cư dân thỏa thích thăm quan mua sắm lựa chọn cho mình những sản phẩm yêu thích, từ quần ào, đồ dùng gia đình, hàng hiệu, ẩm thực gia đình, vui chơi giải trí.
                    </div>
                </div>
            </div>
            <div class="home-4-1-floating-box-control">
                <div class="mobile-home-4-1-slider" id="mobile-tien-ich1-0"></div>
                <div class="mobile-home-4-1-slider" id="mobile-tien-ich1-1"></div>
                <div class="mobile-home-4-1-slider" id="mobile-tien-ich1-2"></div>
                <div class="mobile-home-4-1-slider" id="mobile-tien-ich1-3"></div>
                <div class="mobile-home-4-1-slider" id="mobile-tien-ich1-4"></div>
                <div class="mobile-home-4-1-slider" id="mobile-tien-ich1-5"></div>
                <div class="mobile-home-4-1-slider" id="mobile-tien-ich1-6"></div>
            </div>
        </div>
    </div>
</div>
<div id="tien-ich2">
    <div class="mobile-home-4-2-wrap" style="background: url(assets/images/left-menu-expand.png) top center repeat-x !important;">
        <div>
            <div class="home-1-2-title green-text">TIỆN ÍCH NGOẠI KHU</div>
            <p>Chỉ mất khoảng 5 đến 10 phút di chuyển là đến các Trường học, Bệnh viện, Trung tâm mua sắm, vui chơi giải trí</p>
            <ul>
                <li><strong>Giáo dục:</strong> Đại học Tôn Đức Thắng, Đại học RMIT Trường quốc tế, Renaissance International SaiGon School.</li>
                <li><strong>Y tế:</strong> Viện tim Tâm Đức, Bệnh viện Pháp, Việt Bệnh viện Quận 7.</li>
                <li><strong>Trung tâm mua sắm, vui chơi giải trí:</strong> TTTM SC VivoCity, Crescent Mall, Vinmart, Chợ Phú Mỹ, KĐT Phú Mỹ Hưng, Công viên Hương Tràm liền kề.</li>
            </ul>
        </div>
    </div>
    <img src="assets/images/mobile/home-4-2.png" />
</div>
<div id="tong-the">
    <div class="mobile-home-2-2-wrap" style="background: url(assets/images/left-menu-expand.png) top center repeat-x !important;">
        <div class="home-1-2-title green-text">MẶT BẰNG TỔNG THỂ</div>
        <img src="assets/images/mobile/mobile-thanh-toan.png" />
        <div class="mobile-home-2-2-image-note">
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">1</span></div>
                </div>
                <span>Phòng tập gym</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">2</span></div>
                </div>
                <span>Phòng quản lý tòa nhà (581 m2)</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">3</span></div>
                </div>
                <span>Khu sinh hoạt cộng đồng</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">4</span></div>
                </div>
                <span>Khu tập dưỡng sinh, Yoga</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">5</span></div>
                </div>
                <span>Spa</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">6</span></div>
                </div>
                <span>Khu tắm nắng thư giãn</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">7</span></div>
                </div>
                <span>Bể bơi</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">8</span></div>
                </div>
                <span>Bể bơi trẻ em</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">9</span></div>
                </div>
                <span>Bể vầy</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">10</span></div>
                </div>
                <span>Khu sân chơi thư giãn</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">11</span></div>
                </div>
                <span>Vườn sinh thái</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">12</span></div>
                </div>
                <span>Vườn sinh thái</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">13</span></div>
                </div>
                <span>Nhà hàng</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">14</span></div>
                </div>
                <span>Cafe</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">15</span></div>
                </div>
                <span>Khu BBQ</span>
            </div>
            <div>
                <div>
                    <div class="mobile-home-2-2-icon"><span class="mobile-home-2-2-icon-text">16</span></div>
                </div>
                <span>Cafe ngoài trời</span>
            </div>
        </div>
        <div>
            <div class="mobile-home-2-4-action">
                <a href="/toa-nha/mat-bang-toa-nha.html#mat-bang-tong-the">
                <span class="green-text">Xem thêm</span>
                <img src="assets/images/arrow-icon-right.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="gioi-thieu4">
    <div class="mobile-home-2-1-wrap" style="background: url(assets/images/left-menu-expand.png) top center repeat-x !important;">
        <div>
            <img class="home-2-4-leaf" src="assets/images/mobile/leaf-copy-2.png"/>
            <div class="home-1-2-title green-text">TÒA HR1</div>
            <div class="mobile-home-2-4-text">
                <p><strong>Mở bán đợt đầu tiên - Eco Green Sài Gòn Giai Đoạn 1 Block HR1 ( Toà Nhà - Tháp HR1 )</strong></p>
                <ul>
                    <li><strong>Phía Đông:</strong> giáp đường D1, lộ giới 15m</li>
                    <li><strong>Phía Tây:</strong> giáp đường Nguyễn Văn Linh, lộ giới 120m</li>
                    <li><strong>Phía Nam:</strong> giáp lô HR2 ( Tháp HR2)</li>
                    <li><strong>Phía Bắc:</strong> giáp đường N1, lộ giới 20m.</li>
                </ul>
                <p>Một tòa có 2 tháp; 11 căn/tầng; 1 tháp có 5 thang máy và 2 thang bộ.</p>
                <p>Tiện ích: shophouse, nhà trẻ, hồ bơi, sân vườn, khu sinh hoạt cộng đồng.</p>
            </div>
            <div>
                <div class="mobile-home-2-4-action">
                    <a href="/toa-nha/mat-bang-toa-nha.html#toa-nha-hr1">
                    <span class="green-text">Xem thêm</span>
                    <img src="assets/images/arrow-icon-right.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/mobile/home-2-4.png" />
</div>
<div id="can-ho-mau" style="position:relative ; padding-top: 40px; padding-bottom: 40px; background:url(assets/images/green-pages-pattern-copy.png) top center repeat-x !important;">
    <div class="can-ho-mau-mobile">
        CĂN HỘ MẪU
    </div>
    <div class="container" style="margin-top: 25px; padding: 0; width: 100% !important;">
        <!-- Jssor Slider Begin -->
        <style>
            /* jssor slider loading skin spin css */
            .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            }
            @keyframes jssorl-009-spin {
            from {
            transform: rotate(0deg);
            }
            to {
            transform: rotate(360deg);
            }
            }
        </style>
        <div id="slider1_container" style="padding: 0; visibility: hidden; position: relative; margin: 0; width: 100% !important; height: 70vh; overflow: hidden;">
            <!-- Slides Container -->
            <div data-u="slides" style="padding: 0; margin: 0 ; position: absolute; left: 0px; top: 0px; width: 110%; height: 70vh; overflow: hidden;">
                <div>
                    <img data-u="image" src="assets/images/can-ho-mau/can-ho-mau-1.png" />
                </div>
                <div>
                    <img data-u="image" src="assets/images/can-ho-mau/can-ho-mau-2.png" />
                </div>
                <div>
                    <img data-u="image" src="assets/images/can-ho-mau/can-ho-mau-3.jpg" />
                </div>
            </div>
            <!--#region Bullet Navigator Skin Begin -->
            <!-- Help: https://www.jssor.com/development/slider-with-bullet-navigator.html -->
            <style>
                .jssorb031 {position:absolute;}
                .jssorb031 .i {position:absolute;cursor:pointer;}
                .jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
                .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
                .jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
                .jssorb031 .i.idn {opacity:.3;}
            </style>
            <!-- <div data-u="navigator" class="jssorb031" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                <div data-u="prototype" class="i" style="width:16px;height:16px;">
                   <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                      <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                   </svg>
                </div>
                </div> -->
            <!--#endregion Bullet Navigator Skin End -->
            <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: https://www.jssor.com/development/slider-with-arrow-navigator.html -->
            <style>
                .jssora051 {display:block;position:absolute;cursor:pointer;}
                .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
                .jssora051:hover {opacity:.8;}
                .jssora051.jssora051dn {opacity:.5;}
                .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
            </style>
            <div data-u="arrowleft" class="jssora051 mobile-home-4-1-left-arrow" data-autocenter="2" data-scale="0.25" data-scale-left="0.25">
                <img style="width: 7px;" src="assets/images/next-icon-copy.png"/>
            </div>
            <div data-u="arrowright" class="jssora051 mobile-home-4-1-right-arrow" data-autocenter="2" data-scale="0.25" data-scale-right="0.25">
                <img style="width: 7px;" src="assets/images/next-icon.png"/>
            </div>
            <!--#endregion Arrow Navigator Skin End -->
        </div>
        <!-- Jssor Slider End -->
    </div>
    <div class="thong-minh-tien-loi-mobile">
        <div style="opacity: 0.5;
            height: 30px;
            background-color: #000000;
            vertical-align: middle;
            padding-top: 10px;">THÔNG MINH - TIỆN LỢI - SANG TRỌNG</div>
    </div>
</div>
<div id="thanh-toan"
    style="position: relative; background:url(assets/images/green-pages-pattern-copy.png) top center repeat-x !important;">
    <div class="content-phuong-thuc-thanh-toan">
        <div class="title-phuong-thuc-thanh-toan">PHƯƠNG THỨC THANH TOÁN</div>
        <div class="phuong-thuc-thanh-toan-1"><img width="100%" height="663px"  src="assets/images/phuong-thuc-thanh-toan/phuongthucthanhtoan.png"></div>
        <div class="row align-items-center justify-content-center phuong-thuc-thanh-toan-1" style="padding: 0 !important; margin-right: 0!important; margin-left: 0!important; margin-top: -216px; text-align: center; width: 100%;
            position: absolute;">
            <div style="
                width: 160px;
                z-index: 1;
                cursor: pointer;
                position: relative;
                height: 38px;
                border-radius: 34.5px;
                background-color: #ffffff;
                border: solid 2px #68b655;
                font-family: SegoeUI;
                font-size: 14px;
                font-weight: bold;
                padding-top: 7px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: 1px;
                text-align: center;
                color: #68b655;" id="xem-them-phuong-thuc-thanh-toan">Xem Thêm</div>
        </div>
        <div class="phuong-thuc-thanh-toan-2" style="display: none"><img width="100%" src="assets/images/phuong-thuc-thanh-toan/phuongthucthanhtoan2.png"></div>
    </div>
</div>
<div id="chu-dau-tu" style="position: relative; background:url(assets/images/green-pages-pattern-copy.png) top center repeat-x !important;">
    <div style="padding: 40px 20px 20px 20px">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class=" col-12 nha-dau-tu-title">
                    CÁC ĐƠN VỊ PHÁT TRIỂN DỰ ÁN
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-around flex-wrap ">
                <div class="col-6 img-dau-tu">
                    <div class="row align-items-center height-chu-dau-tu">
                        <div class=" img-dau-tu"> <img width="60%"  src="assets/images/chu-dau-tu/xuanMai.png"> </div>
                    </div>
                    <div class="name align-items-center">CHỦ ĐẦU TƯ</div>
                </div>
                <div class="col-6 img-dau-tu">
                    <div class="row align-items-center height-chu-dau-tu">
                        <div class="img-dau-tu"> <img width="60%" src="assets/images/chu-dau-tu/plus.png"> </div>
                    </div>
                    <div class=" name">THIẾT KẾ CONCEPT</div>
                </div>
            </div>
            <div class="row justify-content-around flex-wrap ">
                <div class="col-6 img-dau-tu">
                    <div class="row align-items-center height-chu-dau-tu">
                        <div class=" img-dau-tu"> <img width="90%"  src="assets/images/chu-dau-tu/cote.png"> </div>
                    </div>
                    <div class="name align-items-center">THI CÔNG MÓNG, CỌC</div>
                </div>
                <div class="col-6 img-dau-tu">
                    <div class="row align-items-center height-chu-dau-tu">
                        <div class="img-dau-tu"> <img width="60%" src="assets/images/chu-dau-tu/thuthiemHome.png"> </div>
                    </div>
                    <div class="name">PHÁT TRIỂN DỰ ÁN</div>
                </div>
            </div>
            <div class="row justify-content-around flex-wrap ">
                <div class="col-6 img-dau-tu">
                    <div class="row align-items-center height-chu-dau-tu">
                        <div class=" img-dau-tu"> <img width="60%"  src="assets/images/chu-dau-tu/bruce.png"> </div>
                    </div>
                    <div class="name align-items-center">THIẾT KẾ VPBH VÀ NHÀ MẪU</div>
                </div>
                <div class="col-6 img-dau-tu">
                    <div class="row align-items-center height-chu-dau-tu">
                        <div class="img-dau-tu"> <img width="60%" src="assets/images/chu-dau-tu/ttid.png"> </div>
                    </div>
                    <div class=" name">THIẾT KẾ VPBH VÀ NHÀ MẪU</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="leaf-top" style="width: 75px; z-index: 99; position: absolute; bottom: -40px;left: 0;" src="assets/images/mobile/leaf.png" />
    </div>
</div>
<div id="lien-he">
    <div class="content-lien-he-mobile">
        <div class="thong-tin-lien-he-title">THÔNG TIN LIÊN HỆ</div>
        <div class="context-lien-he-mobile" >
            Hiện tại sản phẩm căn hộ Eco Green Sài Gòn đang được rất nhiều khách hàng quan tâm và đặt mua. Để có thể sở hữu được căn hộ Eco Green Sài Gòn  với giá tốt nhất cũng như vị trí đẹp nhất, Quý khách hãy liên hệ ngay cho chúng tôi để được hỗ trợ nhanh chóng và tận tình.
        </div>
        <div class="row lien-he-content">
            <div class="col-12" >
                <div class="item-lien-he-first">
                    <span class="item-img"><img src="assets/images/lien-he/home.png"></span>
                    <span class="text-style-lien-he-mobile">Phòng kinh doanh Eco Green Sài Gòn</span>
                </div>
                <div class="item-lien-he">
                    <span class="item-img"><img src="assets/images/lien-he/dia-chi.png"></span>
                    <span class="text-style-lien-he-mobile">Địa chỉ: mặt tiền Nguyễn Văn Linh, P.Tân Thuận, Quận 7, Tp.HCM</span>
                </div>
                <div class="item-lien-he">
                    <span class="item-img"><img src="assets/images/lien-he/phone-call.png"></span>
                    <span class="text-style-lien-he-mobile "> Phone: <span class="text-private-mobile">0903707175</span></span>
                </div>
                <div class="item-lien-he">
                    <span class="item-img"><img src="assets/images/lien-he/mail.png"></span>
                    <span class="text-style-lien-he-mobile "> Email: <span class="text-private-mobile">richtran779@gmail.com</span></span>
                </div>
            </div>
        </div>
    </div>
    <div style="    position: absolute;
        margin-top: -90px;
        right: 0;">
        <img width="50px" height="85px" src="assets/images/mobile/leaf-copy-2.png">
    </div>
    <div class="container" style=" box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.11);background-color: #68b655;border: solid 5px #68b655;padding-top: 50px; padding-bottom: 50px;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;">
        <div class="row ">
            <div class=" col-12">
                <div>
                    <div class="noi-dung-lien-he-mobile">NỘI DUNG LIÊN HỆ</div>
                    <div class="input-lien-he-content-first">
                        <input placeholder="Họ và Tên" type="text" id="name-contact" class="input-lien-he">
                    </div>
                    <div class="input-lien-he-content">
                        <input placeholder="Số điện thoại" id="phone-contact" type="text" class="input-lien-he">
                    </div>
                    <div class="input-lien-he-content">
                        <input placeholder="Email" id="mail-contact" type="text" class="input-lien-he">
                    </div>
                    <div class="input-lien-he-content">
                        <textarea placeholder="Nội dung" id="content-contact" rows="5" class="input-lien-he-textarea"></textarea>
                    </div>
                    <div class="btn-lien-he">
                        <button id="sent-contact"><span class="gui">Gửi</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="tel: 0903707175" class="fancybox">
        <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show" id="coccoc-alo-phoneIcon">
            <div class="coccoc-alo-ph-circle"></div>
            <div class="coccoc-alo-ph-circle-fill"></div>
            <div class="coccoc-alo-ph-img-circle"></div>
        </div>
    </a>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="assets/js/jssor.slider.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      var isToggle = true;
      $(".show-more-info").click(function(e){
         if(isToggle){
            $(".show-more").addClass("grid-inline");
            $(".show-more-info")[0].innerText = "Thu gọn";
            isToggle = false;
         }else{
            $(".show-more").removeClass("grid-inline");
            $(".show-more-info")[0].innerText = "Xem thêm";
            isToggle = true;
         }
      });
    
          $(".mobile-slider-block").click(function(e){
            var actionId = e.target.id;
            var contentId = actionId.substring(0, actionId.lastIndexOf("-"));
            $("#" + contentId).css("display", "block");
            $("#" + actionId).css("background-color", "#68b655");
            if(contentId == "mobile-home-3-1-block-1"){
                $("#mobile-home-3-1-block-2").css("display", "none");
                $("#mobile-home-3-1-block-2-button").css("background-color", "#828899");
            }else if(contentId == "mobile-home-3-1-block-2"){
                $("#mobile-home-3-1-block-1").css("display", "none");
                $("#mobile-home-3-1-block-1-button").css("background-color", "#828899");
            }
        });
    
        $("#left-menu-icon").click(function(e) {
            if ($("#left-menu").hasClass("visibile")) {
                $("#left-menu").removeClass("visibile");
                $('#left-menu').css('z-index', 999);
            } else {
                $("#left-menu").addClass("visibile");
               $('#left-menu').css('z-index', 1001);
            }
    
        })
    
        $(".left-menu-wrap a").click(function(){
            $("#left-menu").removeClass("visibile");
           $('#left-menu').css('z-index', 999);
        });
    
        var temp = 0;
         refreshIntervalId = setInterval(function(){
             if(temp == 0){
                $( "#mobile-home-3-1-block-2-button" ).triggerHandler( "click" );
                temp = 1;
             }else {
                $( "#mobile-home-3-1-block-1-button" ).triggerHandler( "click" );
                temp = 0;
             }
           }, 10000);
    });
</script>
<script>
   jQuery(document).ready(function ($) {
      var options = {
         $AutoPlay: 1,                                       //[Optional] Auto play or not, to enable slideshow, this option must be set to greater than 0. Default value is 0. 0: no auto play, 1: continuously, 2: stop at last slide, 4: stop on click, 8: stop on user navigation (by arrow/bullet/thumbnail/drag/arrow key navigation)
         $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
         $Idle: 12000,                                        //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
         $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

         $ArrowKeyNavigation: 1,   			                //[Optional] Steps to go for each navigation request by pressing arrow key, default value is 1.
         $SlideEasing: $Jease$.$OutQuint,                    //[Optional] Specifies easing for right to left animation, default value is $Jease$.$OutQuad
         $SlideDuration: 800,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
         $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide, default value is 20
         //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
         //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
         $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
         $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
         $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
         $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $Cols is greater than 1, or parking position is not 0)

         $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
            $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
            $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
            $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
         },

         $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
            $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
            $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
            $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
            $SpacingX: 12,                                  //[Optional] Horizontal space between each item in pixel, default value is 0
            $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
         }
      };

      var jssor_slider1 = new $JssorSlider$("slider1_container", options);
      var jssor_slider2 = new $JssorSlider$("slider2_container", options);

      function SliderSwipeEndEventHandler(position, virtualPosition){
      	$(".mobile-home-4-1-floating-box-content").css("display", "none");
      	$("#tien-ich1-" + position + "-content").css("display", "flex");
      	$(".mobile-home-4-1-slider").css("background-color", "#828899");
        $("#mobile-tien-ich1-" + position).css("background-color", "#68b655");

      }
      jssor_slider2.$On($JssorSlider$.$EVT_SWIPE_END, SliderSwipeEndEventHandler);

      //responsive code begin
      //you can remove responsive code if you don't want the slider scales while window resizing
      function ScaleSlider() {
         var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
         var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
         if (parentWidth) {
            jssor_slider1.$ScaleWidth(parentWidth - 30);
            jssor_slider2.$ScaleWidth(parentWidth - 30);
         }
         else
            window.setTimeout(ScaleSlider, 30);
      }
      ScaleSlider();

      $(window).bind("load", ScaleSlider);
      $(window).bind("resize", ScaleSlider);
      $(window).bind("orientationchange", ScaleSlider);
      //responsive code end
   });
</script>
<script>
    $(document).ready(function () {
       $('#xem-them-phuong-thuc-thanh-toan').click(function () {
          $(".phuong-thuc-thanh-toan-1").css('display', 'none');
          $(".phuong-thuc-thanh-toan-2").css('display', 'block');
       });
       $('#left-eco-icon').click(function () {
          $("#left-menu").removeClass("visibile");
          $('#left-menu').css('z-index', 999);
       })
    })
</script>
<script src="assets/js/mailTo.js"></script>