/*Responsive for all screen solution*/

.logo {
  width: 180px;
  object-fit: contain;
}

.SNG-XANH-MI-NGY {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  text-shadow: 1px 1px #969292;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(2, 2, 2, 0.5);
}

.home-1-1-wrap{
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.home-1-1-wrap img{
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.home-1-1-wrap>div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.backgroundColor {
  background-color: #185c2f;
}

.lightBackgroundColor {
  background-color: #68b655;
}

.lightColor {
  color: #68b655;
}

.selected-icon {
  border-color: #68b655 !important;
}

.backdrop {
  background-color: rgba(2, 2, 2, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: table;
}

.home-1-1-text {
  display: table-cell;
  vertical-align: middle;
}

.home-1-1-text svg {
  z-index: 3;
  width: 540px;
}

.home-1-1-text svg text {
  fill: #ffffff;
}

.home-1-1-text svg textPath {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  text-shadow: 1px 1px #9cf77fc4;
}

/*@media only screen and (max-width: 1200px) {
  .new-home-2-2-action{
    width: 100% !important;
    padding-right: 10% !important;
  }

  .new-home-2-2-action>a{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }
}
*/
@media only screen and (max-width: 1400px) {
  .home-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .seperate-block {
    height: 4px;
    width: 100px;
    margin: 20px 0 15px 0;
    background-color: #71c55c;
  }
  .text-content {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .green-text {
    color: #71c55c;
  }
  .leaf-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 13%;
  }
  /*home 1-2*/
  #home-1-2-wrap {
    position: absolute;
    top: 3%;
    left: 5%;
    opacity: 0.65;
    background-color: #000000;
    width: 46%;
    z-index: 1000;
    padding: 30px 20px 20px 30px;
    max-width: 630px;
  }
  #home-1-2-wrap ul {
    margin-bottom: 0;
  }
  /*home 2-1*/
  #home-2-1-wrap {
    opacity: 0.65;
    background-color: #000000;
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.11);
    width: 38%;
    height: 100%;
    padding: 20px 20px 20px 60px;
    color: white;
  }
  #home-2-1-wrap table {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    border-collapse: separate;
    border-spacing: .6em;
  }
  #home-2-1-wrap table tr:first-child td:first-child {
    width: 35%;
  }
  #home-2-1-wrap table tr td:first-child {
    padding-right: 15px;
  }
  #home-2-1-wrap table tr td {
    line-height: 1.5;
  }

  #home-2-1-wrap table ul{
    margin-bottom: 0 !important;
  }
  /* Home 2-2 */
  #home-2-2-wrap {
    height: 100%;
    padding: 20px 20px 20px 5%;
    text-align: center;
  }
  #home-2-2-wrap img {
    width: 85%;
  }
  .home-2-2-image-note {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .home-2-2-image-note>div {
    width: 25%;
    display: inline-flex;
    padding-left: 5%;
    margin-bottom: 1%;
    align-items: center;
  }
  .home-2-2-icon {
    border-radius: 50%;
    background-color: #68b655;
    border: solid 2px #5eac4c;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .home-2-2-icon-text {
    color: white;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
  }
  .home-2-2-image-note>div>span {
    text-align: left;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
  .home-2-2-title {
    margin-left: 8%;
    margin-bottom: 10px;
  }
  /* Home 2-3 */
  #home-2-3-wrap {
    height: 100%;
    position: relative;
    color: white;
  }
  #home-2-3-wrap>div {
    opacity: .65;
    background-color: #000;
    box-shadow: 0 0 27px 3px rgba(0,0,0,.11);
    width: 45%;
    position: absolute;
    left: 0;
    bottom: 14%;
    padding: 20px 20px 20px 55px;
  }
  /* Home 2-4 */
  #home-2-4-wrap {
    height: 100%;
    display: flex;
  }
  #home-2-4-wrap .home-2-4-left {
    width: 70%;
    height: 100%;
  }
  #home-2-4-wrap .home-2-4-right {
    width: 30%;
    height: 100%;
    display: table;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 1.5;
    position: relative;
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.11);
  }
  #home-2-4-wrap .home-2-4-right li {
    padding-bottom: 3px;
  }
  #home-2-4-wrap .home-2-4-right>div {
    display: table-cell;
    vertical-align: middle;
    padding: 10%;
  }
  .home-2-4-right a {
    text-decoration: none;
    text-anchor: unset;
  }
  .home-2-4-action {
    width: 150px;
    height: 40px;
    border-radius: 27px;
    border: solid 2px #71c55c;
    text-align: center;
  }
  .home-2-4-action:hover {
    background-color: #f5fff3;
  }
  .home-2-4-action>span {
    line-height: 35px;
  }
  .home-2-4-action>img {
    width: 18px;
    margin-left: 3px;
  }
  .left-leaf-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
  }
  /* Home 3-1 */
  #home-3-1-wrap {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .home-3-1-title {
    margin-bottom: 20px;
  }
  .home-3-1-left {
    width: 40%;
    height: 100%;
    display: table;
    overflow: hidden;
  }
  .home-3-1-left>div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 15%;
  }
  .home-3-1-right {
    width: 60%;
    height: 100%;
    display: table;
  }
  .home-3-1-right>div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
  }
  .home-3-1-right img {
    width: 90%;
  }
  .home-3-1-slider {
    margin-top: 10%;
    text-align: center;
  }
  .slider-block {
    height: 4px;
    width: 40px;
    margin-right: 5px;
    background-color: #71c55c;
    display: inline-flex;
    cursor: pointer;
  }
  #home-3-1-block-2 {
    position: relative;
    animation: desktopLeftToRight 2s 1;
    animation-direction: alternate;
    min-height: 200px;
  }
  #home-3-1-block-1 {
    position: relative;
    animation: desktopRightToLeft 2s 1;
    animation-direction: alternate;
    min-height: 200px;
  }
  @-webkit-keyframes desktopLeftToRight {
    0% {
      left: -80px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }
  @-webkit-keyframes desktopRightToLeft {
    0% {
      left: 80px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }
  .home-3-1-icon {
    width: 13%;
  }
  /* Home 4-2 */
  #home-4-2-wrap {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .home-4-2-left {
    width: 60%;
    height: 100%;
    display: table;
    text-align: center;
  }
  .home-4-2-left>div {
    display: table-cell;
    vertical-align: middle;
  }
  .home-4-2-left img {
    width: 80%;
    margin-left: 5%;
  }
  .home-4-2-right {
    width: 40%;
    height: 100%;
    display: table;
    padding-right: 5%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    position: relative;
  }
  .home-4-2-right li {
    margin-bottom: 5px;
  }
  .home-4-2-right>div {
    display: table-cell;
    vertical-align: middle;
  }
  /* Home 4-1 */
  #home-4-1-wrap {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .home-4-1-floating-box {
    width: 630px;
    height: 120px;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 6%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px 10px 15px;
  }
  .home-4-1-floating-box-background {
    width: 630px;
    height: 120px;
    opacity: 0.6;
    background-color: #000000;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 6%;
    margin-left: auto;
    margin-right: auto;
  }
  .home-4-1-floating-box-content {
    display: none;
    opacity: 1;
    color: white;
    position: relative;
  }

  .home-4-1-floating-box-content:nth-child(2) .home-4-1-floating-box-content-icon{
    padding-top: 0;
  }

  .home-4-1-floating-box-content-icon {
    padding-top: 5px;
    width: 20%;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1;
    margin-right: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .home-4-1-floating-box-content-icon img {
    width: 40px;
    margin-bottom: 10px;
  }
  .home-4-1-floating-box-content-icon>div {
    line-height: 15px;
    padding: 0 10px;
  }
  .home-4-1-floating-box-content-text {
    width: 80%;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-left: 20%;
    margin-top: 5px;
  }
  .home-4-1-floating-box-control {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 5px;
  }
  .home-4-1-slider {
    height: 4px;
    width: 35px;
    margin-right: 1px;
    /*background-color: #71c55c;*/
    background-color: #828899;
    display: inline-flex;
    cursor: pointer;
  }
  .home-4-1-slider:first-child {
    background-color: #68b655;
  }
  .home-4-1-slider-left-icon {
    position: fixed;
    width: 8%;
    height: 100vh;
    z-index: 10;
    display: table;
    text-align: center;
  }
  .home-4-1-slider-left-icon>div {
    display: table-cell;
    vertical-align: middle;
  }
  .home-4-1-slider-left-icon>div>a>div {
    width: 45px;
    height: 45px;
    opacity: 0.9;
    background-color: #68b655;
    border-radius: 50%;
    margin-left: auto;
    z-index: 9999;
    cursor: pointer;
  }
  .home-4-1-slider-left-icon>div>a>div img {
    padding-top: 10px;
  }
  .fp-controlArrow {
    display: none;
  }
  .home-4-1-slider-right-icon {
    position: fixed;
    width: 13%;
    height: 100vh;
    z-index: 10;
    right: 0;
    display: table;
    text-align: center;
  }
  .home-4-1-slider-right-icon>div {
    display: table-cell;
    vertical-align: middle;
  }
  .home-4-1-slider-right-icon>div>a>div {
    width: 45px;
    height: 45px;
    opacity: 0.9;
    background-color: #68b655;
    border-radius: 50%;
    margin-right: auto;
    z-index: 9999;
    cursor: pointer;
  }
  .home-4-1-slider-right-icon>div>a>div img {
    padding-top: 10px;
  }

  .home-4-1-main-text-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 38%;
    z-index: 10;
    opacity: 0.5;
    background-color: #1a1b25;
    margin-top: 10px;
  }

  .home-4-1-main-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 35%;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: 1.6px;
    text-align: center;
    color: #ffffff;
    z-index: 11;
  }

  /* Mat bang tong the */
  #new-home-2-2-wrap {
    height: 100%;
    padding: 20px 20px 20px 5%;
    text-align: center;
  }
  #new-home-2-2-wrap img {
    width: 55%;
  }
  .new-home-2-2-image-note {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-left: 5%;
  }
  .new-home-2-2-image-note>div {
    width: 25%;
    display: inline-flex;
    margin-bottom: 10px;
    align-items: center;
  }
  .new-home-2-2-image-note>div:last-child{
    margin-bottom: 0;
  }
  .new-home-2-2-icon {
    border-radius: 50%;
    background-color: #68b655;
    border: solid 2px #5eac4c;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .new-home-2-2-icon-text {
    color: white;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
  }
  .new-home-2-2-image-note>div>span {
    text-align: left;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
  .new-home-2-2-title{
    text-align: center;
    margin-bottom: 10px;
  }

  .new-home-2-2-action{
    width: 100% !important;
    /*padding-right: 10%;*/
  }

  .new-home-2-2-action>a{
    margin-left: auto;
    /*margin-right: auto;*/
    text-decoration: none;
  }

  .new-home-2-2-action>a>div {
    width: 150px;
    height: 40px;
    border-radius: 27px;
    border: solid 2px #71c55c;
    text-align: center;
  }
  .new-home-2-2-action a:hover {
    background-color: #f5fff3;
  }
  .new-home-2-2-action span {
    line-height: 35px;
  }
  .new-home-2-2-action img {
    width: 18px !important;
    margin-left: 3px;
  }

  #mat-bang-tong-the .left-leaf-icon{
    position: absolute;
    right: 0;
    bottom: 40vh;
    width: 10%;
  }

  #mat-bang-tong-the .right-leaf-icon{
    position: absolute;
    right: 62px;
    bottom: 50vh;
    width: 10%;
  }

  /* Phuong thuc thanh toan */
  #phuong-thuc-thanh-toan{
    position: relative;
    height: 100%;
    width: 100%;
  }

  .thanh-toan-wrap-content{
    display: table;
  }

  .thanh-toan-wrap-content>div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .thanh-toan-wrap-content img{
    width: 90%;
    margin-top: 2%;
  }

  #phuong-thuc-thanh-toan .left-leaf-icon{
    position: absolute;
    left: 0;
    bottom: 40vh;
    width: 10%;
    z-index: 10;
  }

  #phuong-thuc-thanh-toan .right-leaf-icon{
    position: absolute;
    right: 62px;
    top: 0;
    width: 10%;
    z-index: 10;
  }
}
video {
  min-width: 100%; min-height: 100%;
  width: 100%; height: auto; z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
}

