body {
    background: #eb4924;
}
.downArrow{
    position: relative;
    bottom: 45%;
    left: 47.5%;
}
.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
/* Demo Purpose Only*/
.demo {
    font-family: 'Raleway', sans-serif;
    color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
    font-family: 'Raleway', sans-serif;
    color: #2ecc71;
}
@media  screen and (min-width: 760px) and (max-width: 1200px) {

    .downArrow-lien-he {
        left: 46%;
    }
    .downArrow-chu-dau-tu {
        left: 43.5%;
    }
}
@media  screen and (min-width: 1200px) and (max-width: 1800px) {
    .downArrow-lien-he {
        left: 47%;
    }
    .downArrow-chu-dau-tu {
        left: 43.5%;
    }
}

@media  screen and (min-width: 1800px) {
    .downArrow-lien-he {
        left: 48.5%;
    }
    .downArrow-chu-dau-tu {
        left: 45.5%;
    }
}