#can-ho-mau .can-ho-mau-mobile {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: 1.6px;
    text-align: center;
    color: #68b655;

}
#can-ho-mau .thong-minh-tien-loi-mobile {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 55px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#slider1_container{
    width: 100% !important;
}
#slider1_container2{
    width: 100% !important;
}