.can-ho-mau {

}
.fp-controlArrow.fp-prev {
    border-color: transparent #53af5c transparent transparent;
    z-index: 10000!important;
    left: 120px;
}
.fp-controlArrow.fp-next  {
    right: 180px;
    border-color: transparent transparent transparent #53af5c;
    z-index: 10000 !important;
}
.thong-minh-tien-loi {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: 1.2px;
    color: #68b655;
}
.title-can-ho-mau {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: 1.6px;
    text-align: left;
    color: #444444;
    margin-left: 200px;
    margin-bottom: 30px;
}
.can-ho-xem-them {
    text-align: center;
    margin-top: 10px;
}
.can-ho-xem-them button{
    border-radius: 32px;
    border: solid 1px #71c55c;
    width: 180px;
    height: 40px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    background-color: #75eb5017;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    color: #68b655;
    cursor: pointer;
}
.can-ho-xem-them  .arrow-icon-right {
    margin-left: 5px;
}
button#xemThem:hover {
    background-color: #8ae28a6b;
}
.can-ho-mau .prev-icon-circle {
    margin-left: 10%;
    position: absolute;
    width: 60px;
    margin-top: 20%;
    height: 60px;
    z-index: 99;
    opacity: 0.7;
    background-color: #68b655;
    border-radius: 50%;
    cursor: pointer;
}
.can-ho-mau .next-icon-circle {
    margin-right: 10%;
    position: absolute;
    width: 60px;
    margin-top: 20%;
    height: 60px;
    z-index: 99;
    opacity: 0.7;
    background-color: #68b655;
    border-radius: 50%;
    cursor: pointer;
}

.can-ho-mau .prev-icon {
    width: 15px;
    height: 24px;
    left: 18px;
    top: 18px;
    position: absolute;
    object-fit: contain;
}

.can-ho-mau .next-icon {
    width: 15px;
    height: 24px;
    right: 18px;
    top: 18px;
    position: absolute;
    object-fit: contain;
}

.can-ho-mau-content {
    position: relative;
    padding: 0 8%;
    height: 80vh;
}

.can-ho-mau-wrap-content{
    height: 100%;
    display: table;
}

.can-ho-mau-wrap-content>div{
    display: table-cell;
    vertical-align: middle;
}

.can-ho-mau-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: 1.6px;
    text-align: left;
    color: #68b655;
    margin-left: 8%;
}
.fp-slides {
    box-shadow: 0 0 10px 5px #423e3e42;
}

.can-ho-mau .home-4-1-slider-left-icon {
    position: fixed;
    width: 13%;
    height: 100vh;
    z-index: 10;
    display: table;
    text-align: center;
  }

.can-ho-mau .home-4-1-slider-right-icon {
    width: 18%;
  }

@media  screen and (min-width: 760px) and (max-width: 1200px) {

    .thong-minh-tien-loi {
        font-size: 15px;
        height: 5vh;
        line-height: 8vh;
    }
    .can-ho-mau-title {
        font-size: 28px;
        height: 6vh;
    }
}
@media  screen and (min-width: 1200px) and (max-width: 1800px) {
    .thong-minh-tien-loi {
        font-size: 20px;
        height: 5vh;
        line-height: 8vh;
    }
    .can-ho-mau-title {
        font-size: 28px;
        height: 6vh;
    }
}

@media  screen and (min-width: 1800px) {
    .thong-minh-tien-loi {
        font-size: 30px;
        height: 5vh;
        line-height: 8vh;
    }
    .can-ho-mau-title {
        font-size: 30px;
        height: 7vh;
    }
    .can-ho-mau-title {
        font-size: 40px;
    }

}