
#chu-dau-tu .nha-dau-tu-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 01.5;
    letter-spacing: 1.6px;
    text-align: center;
    color: #68b655;
}
#chu-dau-tu .img-dau-tu {
    min-width: 0;
    margin-top: 0;
}
#chu-dau-tu .height-chu-dau-tu {
    height: 125px;
}

#chu-dau-tu .name {
    font-size: 14px;
    text-align: center;
}