@media only screen and (min-width: 1400px) {
  .logo {
    width: 250px;
    object-fit: contain;
  }

  .SNG-XANH-MI-NGY {
    width: 996px;
    height: 106px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 65px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .home-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .seperate-block {
    height: 6px;
    width: 100px;
    margin: 25px 0 25px 0;
    background-color: #71c55c;
  }
  .text-content {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .green-text {
    color: #71c55c;
  }
  .leaf-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16%;
  }
  /*home 1-2*/
  #home-1-2-wrap {
    position: absolute;
    top: 2%;
    left: 4%;
    opacity: 0.65;
    background-color: #000000;
    width: 50%;
    z-index: 1000;
    padding: 25px 30px 30px 40px;
    max-width: 900px;
  }
  #home-1-2-wrap ul {
    margin-bottom: 0;
  }
  /*home 2-1*/
  #home-2-1-wrap {
    opacity: 0.65;
    background-color: #000000;
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.11);
    width: 38%;
    height: 100%;
    padding: 40px 25px 30px 70px;
    color: white;
  }
  #home-2-1-wrap table {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    border-collapse: separate;
    border-spacing: .7em;
  }
  #home-2-1-wrap table tr:first-child td:first-child {
    width: 35%;
  }
  #home-2-1-wrap table tr td:first-child {
    padding-right: 15px;
  }
  #home-2-1-wrap table tr td {
    line-height: 1.5;
  }
  /* Home 2-2 */
  #home-2-2-wrap {
    height: 100%;
    padding: 20px 20px 20px 5%;
    text-align: center;
  }
  #home-2-2-wrap img {
    width: 95%;
  }
  .home-2-2-image-note {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .home-2-2-image-note>div {
    width: 25%;
    display: inline-flex;
    padding-left: 2%;
    margin-bottom: 1%;
    align-items: center;
  }
  .home-2-2-icon {
    border-radius: 50%;
    background-color: #68b655;
    border: solid 2px #5eac4c;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .home-2-2-icon-text {
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 38px;
  }
  .home-2-2-image-note>div>span {
    text-align: left;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
  .home-2-2-title {
    margin-left: 3%;
    margin-bottom: 20px;
    margin-top: 25px;
  }
  /* Home 2-3 */
  #home-2-3-wrap {
    height: 100%;
    position: relative;
    color: white;
  }
  #home-2-3-wrap>div {
    opacity: .65;
    background-color: #000;
    box-shadow: 0 0 27px 3px rgba(0,0,0,.11);
    width: 45%;
    position: absolute;
    left: 0;
    bottom: 14%;
    padding: 20px 20px 20px 55px;
  }

  #home-2-3-wrap p{
    text-align: left;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 2;
  }

  /* Home 2-4 */
  #home-2-4-wrap {
    height: 100%;
    display: flex;
  }
  #home-2-4-wrap .home-2-4-left {
    width: 70%;
    height: 100%;
  }
  #home-2-4-wrap .home-2-4-right {
    width: 30%;
    height: 100%;
    display: table;
    font-size: 22px;
    font-family: Montserrat;
    line-height: 1.5;
    position: relative;
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.11);
  }
  #home-2-4-wrap .home-2-4-right li {
    padding-bottom: 3px;
  }
  #home-2-4-wrap .home-2-4-right>div {
    display: table-cell;
    vertical-align: middle;
    padding: 10%;
  }
  .home-2-4-right a {
    text-decoration: none;
    text-anchor: unset;
  }
  .home-2-4-action {
    width: 180px;
    height: 50px;
    border-radius: 27px;
    border: solid 2px #71c55c;
    text-align: center;
  }
  .home-2-4-action:hover {
    background-color: #f5fff3;
  }
  .home-2-4-action>span {
    line-height: 45px;
  }
  .home-2-4-action>img {
    width: 18px;
    margin-left: 3px;
  }
  .left-leaf-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
  }
  /* Home 3-1 */
  #home-3-1-wrap {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .home-3-1-title {
    margin-bottom: 20px;
  }
  .home-3-1-left {
    width: 40%;
    height: 100%;
    display: table;
    overflow: hidden;
  }
  .home-3-1-left>div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 15%;
  }
  .home-3-1-right {
    width: 60%;
    height: 100%;
    display: table;
  }
  .home-3-1-right>div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
  }
  .home-3-1-right img {
    width: 90%;
  }
  .home-3-1-slider {
    margin-top: 10%;
    text-align: center;
  }
  .slider-block {
    height: 4px;
    width: 40px;
    margin-right: 5px;
    background-color: #71c55c;
    display: inline-flex;
    cursor: pointer;
  }
  #home-3-1-block-2 {
    position: relative;
    animation: rightToLeft 1s 1;
    animation-direction: alternate;
    font-size: 22px;
    font-family: Montserrat;
    line-height: 2;
    min-height: 200px;
  }

  #home-3-1-block-1 {
    position: relative;
    animation: leftToRight 1s 1;
    animation-direction: alternate;
    font-size: 22px;
    font-family: Montserrat;
    line-height: 2;
    min-height: 200px;
  }

  @-webkit-keyframes leftToRight {
    0% {
      left: -100px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }
  @-webkit-keyframes rightToLeft {
    0% {
      left: 100px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }
  .home-3-1-icon {
    width: 18%;
  }
  /* Home 4-2 */
  #home-4-2-wrap {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .home-4-2-left {
    width: 60%;
    height: 100%;
    display: table;
    text-align: center;
  }
  .home-4-2-left>div {
    display: table-cell;
    vertical-align: middle;
  }
  .home-4-2-left img {
    width: 90%;
    margin-left: 5%;
  }
  .home-4-2-right {
    width: 40%;
    height: 100%;
    display: table;
    padding-right: 5%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    position: relative;
  }
  .home-4-2-right li {
    margin-bottom: 5px;
  }
  .home-4-2-right>div {
    display: table-cell;
    vertical-align: middle;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 2;
    padding-left: 25px;
  }
  /* Home 4-1 */
  #home-4-1-wrap {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .home-4-1-floating-box {
    width: 45%;
    height: 18%;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 25px 5px 20px;
  }
  .home-4-1-floating-box-background {
    width: 45%;
    height: 18%;
    opacity: 0.6;
    background-color: #000000;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .home-4-1-floating-box-content {
    display: none;
    opacity: 1;
    color: white;
  }
  .home-4-1-floating-box-content-icon {
    width: 20%;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    margin-right: 10px;
  }
  .home-4-1-floating-box-content-icon img {
    width: 50%;
    margin-bottom: 5px;
  }
  .home-4-1-floating-box-content-text {
    width: 80%;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .home-4-1-floating-box-control {
    text-align: center;
  }
  .home-4-1-slider {
    height: 4px;
    width: 40px;
    margin-right: 2px;
    /*background-color: #71c55c;*/
    background-color: #828899;
    display: inline-flex;
    cursor: pointer;
  }
  .home-4-1-slider:first-child {
    background-color: #68b655;
  }
  .home-4-1-slider-left-icon {
    position: fixed;
    width: 10%;
    height: 100vh;
    z-index: 10;
    display: table;
    text-align: center;
  }
  .home-4-1-slider-left-icon>div {
    display: table-cell;
    vertical-align: middle;
  }
  .home-4-1-slider-left-icon>div>a>div {
    width: 60px;
    height: 60px;
    opacity: 0.9;
    background-color: #68b655;
    border-radius: 50%;
    margin-left: auto;
    z-index: 9999;
    cursor: pointer;
  }
  .home-4-1-slider-left-icon>div>a>div img {
    padding-top: 20px;
  }
  .fp-controlArrow {
    display: none;
  }
  .home-4-1-slider-right-icon {
    position: fixed;
    width: 15%;
    height: 100vh;
    z-index: 10;
    right: 0;
    display: table;
    text-align: center;
  }
  .home-4-1-slider-right-icon>div {
    display: table-cell;
    vertical-align: middle;
  }
  .home-4-1-slider-right-icon>div>a>div {
    width: 60px;
    height: 60px;
    opacity: 0.9;
    background-color: #68b655;
    border-radius: 50%;
    margin-right: auto;
    z-index: 9999;
    cursor: pointer;
  }
  .home-4-1-slider-right-icon>div>a>div img {
    padding-top: 20px;
  }

  .home-4-1-main-text-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 38%;
    z-index: 10;
    opacity: 0.5;
    background-color: #1a1b25;
    margin-top: 15px;
  }

  .home-4-1-main-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 38%;
    margin-top: 15px;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 80px;
    letter-spacing: 1.6px;
    text-align: center;
    color: #ffffff;
    z-index: 11;
  }

  .thanh-toan-wrap-content .home-4-1-main-text,
  .chu-dau-tu-session .home-4-1-main-text{
    top: 50px;
  }

    /* Mat bang tong the */
  #new-home-2-2-wrap {
    height: 100%;
    padding: 20px 20px 20px 5%;
    text-align: center;
  }
  #new-home-2-2-wrap img {
    width: 70%;
  }
  .new-home-2-2-image-note {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 5%;
  }
  .new-home-2-2-image-note>div {
    width: 25%;
    display: inline-flex;
    margin-bottom: 20px;
    align-items: center;
  }
  .new-home-2-2-image-note>div:last-child{
    margin-bottom: 0;
  }
  .new-home-2-2-icon {
    border-radius: 50%;
    background-color: #68b655;
    border: solid 2px #5eac4c;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .new-home-2-2-icon-text {
    color: white;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
  }
  .new-home-2-2-image-note>div>span {
    text-align: left;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
  .new-home-2-2-title{
    text-align: center;
    margin-bottom: 10px;
  }

  .new-home-2-2-action{
    width: 100% !important;
    padding-right: 10%;
  }

  .new-home-2-2-action>a{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
  }

  .new-home-2-2-action>a>div {
    width: 200px;
    height: 55px;
    border-radius: 27px;
    border: solid 2px #71c55c;
    text-align: center;
    font-size: 22px;
    font-family: Montserrat;
  }
  .new-home-2-2-action a:hover {
    background-color: #f5fff3;
  }
  .new-home-2-2-action span {
    line-height: 55px;
  }
  .new-home-2-2-action img {
    width: 25px !important;
    margin-left: 3px;
  }

  #mat-bang-tong-the .left-leaf-icon{
    position: absolute;
    right: 0;
    bottom: 40vh;
    width: 10%;
  }

  #mat-bang-tong-the .right-leaf-icon{
    position: absolute;
    right: 62px;
    bottom: 50vh;
    width: 10%;
  }

  /* Phuong thuc thanh toan */
  #phuong-thuc-thanh-toan{
    position: relative;
    height: 100%;
    width: 100%;
  }

  .thanh-toan-wrap-content{
    display: table;
    width: 100%;
  }

  .thanh-toan-wrap-content>div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .thanh-toan-wrap-content img{
    width: 90%;
    margin-top: 2%;
  }

  #phuong-thuc-thanh-toan .left-leaf-icon{
    position: absolute;
    left: 0;
    bottom: 40vh;
    width: 10%;
    z-index: 10;
  }

  #phuong-thuc-thanh-toan .right-leaf-icon{
    position: absolute;
    right: 62px;
    top: 0;
    width: 10%;
    z-index: 10;
  }
}