#lien-he {
    /*height: 100vh;*/
}
#lien-he .content-lien-he-mobile {
    padding: 35px 20px 20px 20px;
    background-color: #f4f9f5;
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.11);
}
#lien-he .content-lien-he-mobile .thong-tin-lien-he-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 01.5;
    letter-spacing: 1.6px;
    text-align: left;
    color: #68b655;
}
#lien-he .content-lien-he-mobile .context-lien-he-mobile {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: justify;
    color: #444444;
}
.text-style-lien-he-mobile {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-left: 4px;
}
.text-private-mobile {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.25;
    color: #68b655;
    word-break: break-all;
}
#lien-he .noi-dung-lien-he-mobile {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
#lien-he .lien-he-content img {
    width: 20px;
}
#lien-he .lien-he-content {
    min-height: 240px;
}
#lien-he .input-lien-he {
    height: 35px;
    font-size: 14px;
}

#lien-he .btn-lien-he button {
    width: 150px;
    height: 40px;
    font-size: 15px;
}
#lien-he .gui {
    font-size: 15px;
}

@media  screen and (max-width: 600px) {
    .lien-he-content>div{
        padding-right: 0;
    }

    .input-lien-he-textarea{
        font-size: 14px !important;
    }
}