.back-ground-section-lien-he {
    background-color: #f4f9f5;
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.11);
    padding: 3% 3% 3% 3%;
}

.Thng-Tin-Lin-H {
    max-width: 90%;
    word-wrap: break-word;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
}

.Hin-ti-sn-phm-cn-h-Eco-Green-Si-Gn-ang-c-rt-nhiu-lien-he {
    margin-top: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: justify;
    color: #444444;
}

.text-style-lien-he {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    margin-left: 10px;
}

.text-private {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    color: #68b655;
    word-break: break-all;
}

.item-lien-he-first {
    margin-top: 25px;
}

.item-lien-he {
    margin-top: 10px;
}

/*Form noi dung lien he*/
.content-lien-he {
    
    box-shadow: 0 0 27px 3px rgba(0, 0, 0, 0.11);
    background-color: #68b655;
    border: solid 5px #68b655;
}

.noi-dung-lien-he {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.input-lien-he {
    width: 100%;
    height: 56px;
    
    border-radius: 10px;
    background-color: #68b655;
    border: solid 1px #b4dbaa;
    color: white;
    padding-left: 15px;
}

.input-lien-he-textarea {
    width: 100%;
    border-radius: 10px;
    background-color: #68b655;
    border: solid 1px #b4dbaa;
    color: white;
    padding-left: 15px;
}



.content-lien-he {
    color: white;
    padding: 3% 3% 3% 3%;

}


:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}


.input-lien-he:active {
    border-color: #b4dbaa;
    border-radius: 10px;
}

.input-lien-he-content-first {
    margin-top: 30px;
}

.input-lien-he-content {
    margin-top: 20px;
    line-height: 1.22;
}

.btn-lien-he {
    margin-top: 20px;
    text-align: center;
}

.btn-lien-he button {

    width: 195px;
    height: 56px;
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #b4dbaa;
}

.btn-lien-he button:hover {
    background-color: #f5f7f5bf;
    cursor: pointer;
}

.gui {
    width: 36px;
    height: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #68b655;
}
.btn-hotline-hover {
    position: fixed;
    bottom: 53px;
    display: none;
    left: 164px;
    height: 35px;
    padding: 5px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    border-radius: 25px;
    color: #68b655;
}
.lien-he-content {
    height:100%;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #444444;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
.coccoc-alo-phone:hover .btn-hotline-hover{
    display: block !important;
    background-color: red;
}
.leaf-bottom {
    width: 15%;
}

@media  screen and (min-width: 760px) and (max-width: 1200px) {
    .lien-he-content {
        line-height: 1.22;
    }
    .input-lien-he {
        height: 40px;
    }
    .leaf-top {
        width: 10%;
    }
    .leaf-bottom {
        width: 13%;
    }
    .lien-he-content {
        font-size: 12px;

    }
    .btn-lien-he button {
        width: 170px;
        height: 50px;
    }
}
@media  screen and (min-width: 1200px) and (max-width: 1800px) {
    .lien-he-content {
        line-height: 2;
    }
    .input-lien-he {
        height: 45px;
    }
    .leaf-top {
        width: 10%;
    }
    .leaf-bottom {
        width: 13%;
    }
    .lien-he-content {
        font-size: 15px;

    }
    .btn-lien-he button {
        width: 170px;
        height: 50px;
    }

}

@media  screen and (min-width: 1800px) {
    .lien-he-content {
        line-height: 1.22;
    }
    .Thng-Tin-Lin-H {
        font-size: 40px;
        line-height: 2.22;
    }
    .noi-dung-lien-he {
        font-size: 40px;
        line-height: 2.22;
    }
    .Hin-ti-sn-phm-cn-h-Eco-Green-Si-Gn-ang-c-rt-nhiu-lien-he {
        font-size: 25px;
        line-height: 2.22;
    }
    .text-style-lien-he {
        font-size: 30px;
        line-height: 2.22;
    }
    .input-lien-he {
        height: 90px;
        font-size: 30px;
    }
    .leaf-top {
        width: 13%;
    }
    .leaf-bottom {
        width: 14%;
    }
    .input-lien-he-content {
        font-size: 30px;
    }
    .item-img img {
        width: 45px;
    }
	.btn-lien-he button  {
	width: 250px;
    height: 70px;
	}
	.gui {
	font-size:30px;
	}

}