/*Import font*/
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.otf);
    font-weight: bold;
}

@font-face {
  font-family: PlayfairDisplaySC;
  src: url(../fonts/PlayfairDisplaySC-Regular.otf);
}

@font-face {
  font-family: PlayfairDisplaySC;
    src: url(../fonts/PlayfairDisplaySC-Bold.otf);
    font-weight: bold;
}

.lightBackgroundColor {
  background-color: #68b655;
}

/*Left menu*/
#section0 {
  text-align: center;
}

.visibile {
  left: 0 !important;
}

.eco-green-bottom-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  margin-bottom: -30px;
}

#left-menu {
  position: fixed;
  height: 100%;
  width: 250px;
  display: inline-flex;
  left: -201px;
  z-index: 999;
  transition: left 0.2s linear;
}

#left-menu-icon {
  width: 50px;
  height: 65px;
  background-color: #68b655;
  cursor: pointer;
  position: relative;
  display: table;
  margin-top: 50px;
}

#left-menu-content {
  height: 100%;
  width: 200px;
  text-align: center;
  padding-top: 15px;
  z-index: 999;
  border-right: solid 1px #3333;
}

#left-eco-icon {
  width: 130px;
}

#menu-str {
  width: 50px;
  height: 12px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  padding-left: 2px;
}

.left-menu-wrap {
  margin: 15px 0 0 0;
  text-align: left;
}

.left-menu-wrap>div {
  height: 35px !important;
  width: 100%;
  display: table;
}

.left-menu-wrap>div a {
  color: black;
}

.left-menu-wrap>div:first-child a {
  color: white;
}

.left-menu-str {
  line-height: 18px;
  padding-left: 30px;
  font-size: 13px;
  font-family: Montserrat;
  cursor: pointer;
}

.left-menu-str:after {
  content: '';
  display: block;
  position: absolute;
  width: 40%;
  height: 0;
  transform: scale(0, 1);
  transition: transform .2s ease;
  will-change: transform;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  border-bottom: 1px solid #68b655;
}

.left-menu-wrap>div:first-child .left-menu-str:after {
  border-bottom: solid;
  width: 32%;
}

.left-menu-wrap>div:nth-child(2) .left-menu-str:after {
  width: 28%;
}

.left-menu-wrap>div:nth-child(3) .left-menu-str:after {
  width: 15%;
}
.left-menu-wrap>div:nth-child(4) .left-menu-str:after {
  width: 23%;
}
.left-menu-wrap>div:nth-child(6) .left-menu-str:after {
  width: 35%;
}

.left-menu-wrap>div:nth-child(5) .left-menu-str:after {
  width: 58%;
}
.left-menu-wrap>div:nth-child(7) .left-menu-str:after {
  width: 35%;
}
.left-menu-wrap>div:nth-child(8) .left-menu-str:after {
  width: 50%;
}
.left-menu-wrap>div:nth-child(9) .left-menu-str:after {
  width: 22%;
}
.left-menu-wrap>div:nth-child(10) .left-menu-str:after{
  width: 59%;
}
.left-menu-wrap>div:nth-child(11) .left-menu-str:after {
  width: 21%;
}

.left-menu-str:hover:after {
  transform: scale(1, 1);
}

.left-menu-wrap a {
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
}

#wrap-hotline {
  border-top: solid 1px #68b655;
  margin: 10px 117px 0 30px;
  padding-left: 0;
  padding-top: 15px;
  text-align: left;
  font-family: Montserrat;
}

#wrap-hotline span:nth-child(1) {
    line-height: 25px;
    font-size: 13px;
}

#wrap-hotline span:nth-child(2) {
  line-height: 13px;
  font-size: 13px;
  color: #68b655;
  font-weight: bold;
}

.selected:after {
  transform: scale(1, 1);
}

#left-menu-icon>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#left-menu-icon img {
  width: 25px;
  padding-top: 2px;
}

/*Right menu*/
#right-menu {
  position: fixed;
  width: 63px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  z-index: 999;
  display: table;
}

#right-menu-background {
  position: fixed;
  width: 63px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  z-index: 999;
  opacity: 0.7;
  background-color: #185c2f;
  text-align: center;
}

#right-menu-list {
  display: table-cell;
  vertical-align: middle;
}

.section {
  padding-right: 70px;
}

#section41.section {
  padding-right: 0;
}

.section-icon {
  width: 42px;
  height: 42px;
  background-color: #71c55c;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0.5;
  display: table;
}

.selected-icon {
  border-color: #71c55c;
  opacity: 1.0;
}

.selected-icon .section-icon {
  border-color: #71c55c;
  opacity: 1.0;
}

.ECO {
  width: 25px;
  padding-left: 2px;
  padding-top: 15px;
}

.right-menu-icon {
  margin-top: 9px;
  width: 23px;
  height: 22px;
  vertical-align: unset;
}

.section-border-icon .tooltiptext {
  visibility: hidden;
  color: white;
  text-align: center;
  width: 200px;
  height: 40px;
  border-radius: 35px;
  background-color: #71c55c;
  position: absolute;
  right: 50px;
  top: 5px;
  z-index: 999;
  font-family: Montserrat;
	    /* vertical-align: middle; */
  line-height: 40px;
  font-size: 13px;
}

.section-border-icon:hover .tooltiptext {
  visibility: visible;
}

.section-border-icon {
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  border: solid 2px transparent;
  margin-left: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #right-menu-background,
  #right-menu{
    display: none;
  }

  #left-eco-icon{
    width: 110px;
  }

  .left-menu-wrap{
    margin: 15px 0 0 0;
  }

  .left-menu-wrap>div{
    height: 30px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .left-menu-wrap>div{
    height: 30px !important;
  }
}