.green-text {
  color: #68b655 !important;
}

/*home 1-1*/
#eco-green1 {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  display: table;
  text-align: center;
}

#eco-green1>img {
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#eco-green1>div {
  display: table-cell;
  vertical-align: middle;
}

.mobile-home-1-1-text {
  opacity: 0.7;
  background-color: rgb(12, 12, 12);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 50px;
  letter-spacing: 1.6px;
  text-align: center;
  color: #ffffff;
  display: inline-flex;
  padding-left: 15px;
  padding-right: 15px;
}


/* Home 1-2 */

#eco-green2 {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#eco-green2>div {
  padding: 5%;
  height: 60vh;
  display: table;
}

#eco-green2>div>div {
  display: table-cell;
  vertical-align: middle;
}

.home-1-2-title {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: #ffffff;
  display: inline-flex;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.8;
  padding-bottom: 15px;
}

.home-1-2-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  color: #ffffff;
  text-align: justify;
}


/* Home 2-1 */
#gioi-thieu1 {
  width: 100%;
}

#gioi-thieu1 img {
  width: 100%;
}

.home-2-1-wrap {
  min-height: 50vh;
  padding-top: 15px;
}

.home-2-1-wrap table {
  margin-left: 5%;
  margin-right: 5%;
}

.home-2-1-wrap table tr {
  display: inline-grid;
  width: 100%;
  margin-bottom: 10px;
}

.home-2-1-wrap table tr td:first-child {
  font-weight: bold;
}

.home-2-1-wrap .show-more-info {
  font-family: Montserrat;
  font-size: 14px;
  text-decoration: underline !important;
  cursor: pointer;
}

.show-more {
  display: none !important;
}

.grid-inline {
  display: inline-grid !important;
}


#tong-the {
  width: 100%;
  position: relative;
}

#tong-the img {
  width: 100%;
}

/* Home 2-2 */

#gioi-thieu2 {
  width: 100%;
  position: relative;
}

#gioi-thieu2 img {
  width: 100%;
}

.mobile-home-2-2-wrap{
  padding-top: 20px;
}

.mobile-home-2-2-image-note {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-right: 10px;
}

.mobile-home-2-2-image-note>div {
  width: 50%;
  display: inline-flex;
  padding-left: 5%;
  margin-bottom: 12px;
  align-items: center;
}

.mobile-home-2-2-icon {
  border-radius: 50%;
  background-color: #68b655;
  border: solid 2px #5eac4c;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  text-align: center;
  display: table;
}

.mobile-home-2-2-icon-text {
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  display: table-cell;
}

.mobile-home-2-2-image-note>div>span {
  text-align: left;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.home-2-2-leaf {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28% !important;
  z-index: 999;
}


/* Home 2-3 */

#gioi-thieu3 {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#gioi-thieu3>div {
  padding: 5%;
  height: 60vh;
  display: table;
}

#gioi-thieu3>div>div {
  display: table-cell;
  vertical-align: middle;
}


/* Home 2-4 */

#gioi-thieu4 {
  width: 100%;
  position: relative;
}

#gioi-thieu4 img {
  width: 100%;
}

.mobile-home-2-1-wrap {}

.mobile-home-2-1-wrap>div {
  padding: 10% 5% 5% 5%;
  position: relative;
}

.mobile-home-2-4-text,
.mobile-home-2-4-action span {
  text-align: left;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 30px;
}

.mobile-home-2-4-action img {
  width: unset !important;
}

.mobile-home-2-4-action {
  width: 125px;
  height: 35px;
  border-radius: 27px;
  border: solid 2px #71c55c;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mobile-home-2-4-action:hover {
  background-color: #f5fff3;
}

.mobile-home-2-1-wrap a {
  text-decoration: none;
}

.home-2-4-leaf {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25% !important;
  z-index: 999;
}

/* Home 3-1 */
#vi-tri{
  width: 100%;
  height: 100vh;
  position: relative;
}

.mobile-home-3-1-wrap{

}

.mobile-home-3-1-wrap>div{
  display: table;
  width: 100%;
  padding: 5%;
}

.mobile-home-3-1-main{
  display: table-cell;
  vertical-align: middle;
  height: 50vh;
}

.mobile-home-3-1-wrap img{
  width: 100%;
}

#mobile-home-3-1-block-2 {
    position: relative;
    animation: mobileLeftToRight 2s 1;
    animation-direction: alternate;

    text-align: left;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
#mobile-home-3-1-block-1 {
    position: relative;
    animation: mobilepRightToLeft 2s 1;
    animation-direction: alternate;

    text-align: left;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
  @-webkit-keyframes mobileLeftToRight {
    0% {
      left: -80px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }
  @-webkit-keyframes mobilepRightToLeft {
    0% {
      left: 80px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }

  .mobile-home-3-1-slider {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }
  .mobile-slider-block {
    height: 4px;
    width: 40px;
    margin-right: 5px;
    background-color: #71c55c;
    display: inline-flex;
    cursor: pointer;
  }

.home-3-1-leaf {
  position: absolute;
  left: 0;
  bottom: -85px;
  width: 22% !important;
  z-index: 1;
}

#vi-tri1{
  position: relative;
}

/*Home 4-2*/
#tien-ich2 {
  width: 100%;
}

#tien-ich2 img {
  width: 100%;
}

.mobile-home-4-2-wrap {
  min-height: 50vh;
  padding-top: 15px;
  display: table;
}

.mobile-home-4-2-wrap>div{
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}

.mobile-home-4-2-wrap p,
.mobile-home-4-2-wrap ul{
    text-align: left;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.mobile-home-4-2-wrap ul li{
  margin-bottom: 7px;
}

/* Home 4-1 */
#tien-ich1{
  /*height: 100vh;*/
  width: 100%;
  display: table;
  padding-top: 60px;
  padding-bottom: 20px;
}

#tien-ich1 .container{
  display: table-cell;
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

  .mobile-home-4-1-floating-box-content {
    display: none;
    opacity: 1;
    color: white;
    text-align: left;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .mobile-home-4-1-main-wrap{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 10px 20px 10px;
    position: relative;
  }

  .mobile-home-4-1-slider {
    height: 4px;
    width: 25px;
    margin-right: 1px;
    /*background-color: #71c55c;*/
    background-color: #828899;
    display: inline-flex;
    cursor: pointer;
  }

  .mobile-home-4-1-floating-box-content-icon {
    width: 20%;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    margin-right: 10px;
  }
  .mobile-home-4-1-floating-box-content-icon img {
    width: 60%;
    margin-bottom: 5px;
  }
  .mobile-home-4-1-floating-box-content-text {
    width: 80%;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .mobile-home-4-1-floating-box-content:first-child{
    display: flex;
  }

  .mobile-home-4-1-left-arrow{
    width:25px;
    height:25px;
    top:0px;
    left:25px;
    background-color: #68b655;
    border-radius: 50%;
    opacity: .9;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }

  .mobile-home-4-1-right-arrow{
    width:25px;
    height:25px;
    top:0px;
    right:25px;
    background-color: #68b655;
    border-radius: 50%;
    opacity: .9;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }

  #slider2_container{
    width: 100% !important;
  }