.chu-dau-tu-session .nha-dau-tu-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 90px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: 4.8px;
    color: #efefef;
    text-align: center;
}

.chu-dau-tu-session .nha-dau-tu-chung-toi {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: 1.6px;
    color: #444444;
    text-align: center;
}
.chu-dau-tu-session  .name{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 0.8px;
    color: #444444;
    text-align: center;
}
.img-dau-tu {
    margin-top: 20px;
    min-width: 200px;
}
.height-chu-dau-tu {
    text-align: center;
}
#section7 .leaf-top {
    width: 14%;
}

@media  screen and (min-width: 760px) and (max-width: 1200px) {
    .chu-dau-tu-session .name {
        font-size: 14px;
    }
    .img-chu-dau-tu {
        width: 170px;

    }
    .img-chu-dau-tu-thu-thiem {
        width: 135px;
    }
    .height-chu-dau-tu {
        height: 180px;
    }

}
@media  screen and (min-width: 1200px) and (max-width: 1800px) {
    .chu-dau-tu-session .name {
        font-size: 16px;
    }
    .img-chu-dau-tu {
        width: 200px;
    }
    .img-chu-dau-tu-thu-thiem {
        width: 160px;
    }
    .height-chu-dau-tu {
        height: 200px;
    }
    .chu-dau-tu-session .nha-dau-tu-chung-toi {
        font-size: 30px;
    }
}

@media  screen and (min-width: 1800px) {
    .chu-dau-tu-session .name {
        font-size: 25px;
    }
    .img-chu-dau-tu {
        width: 300px;
    }
    .img-chu-dau-tu-thu-thiem {
        width: 242px;
    }
    .height-chu-dau-tu {
        height: 300px;
    }
    .chu-dau-tu-session .nha-dau-tu-chung-toi {
        font-size: 40px;
    }

}
