#vat-lieu-body {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
}

#vat-lieu {
    padding: 2% 0;
    position: relative;
}

.home-title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.vat-lieu-container {
    position: relative;
    padding: 0 7%;
}

.right-leaf-icon-1 {
    position: absolute;
    top: -15%;
    right: 0;
    width: 10%;
}

.left-leaf-icon-2 {
    position: absolute;
    top: -5%;
    left: 0;
    width: 8%;
}

.green-text {
    color: #68b655;
}

#vat-lieu>div:first-child {
    text-align: center;
    margin-right: 10%;
}

.vat-lieu-content {
    margin-top: 2%;
}

.img-full-width {
    width: 100%;
}

.content-text {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
}

.content-title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-decoration: none;
}

.center-box {
    text-align: center;
}

.center-box p {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
    .content-text {
        font-size: 13px !important;
    }
    .content-title {
        font-size: 18px !important;
    }
    .home-title {
        font-size: 22px !important;
    }
    #vat-lieu>div:first-child {
        text-align: center;
        margin-right: 0;
        padding: 10px 0;
    }
    .teka-icon {
        width: 35% !important;
    }
    .right-leaf-icon-1 {
        width: 13% !important;
    }
    .left-leaf-icon-2 {
        top: -5% !important;
        width: 10% !important;
    }
}